<template>
    <div>
        <header-component ref="headerComponent"></header-component>
        <sidebar-component></sidebar-component>
        <router-view v-on:changeUser="changeUser"></router-view>
        <div>
            <div class="sidenav-overlay"></div>
            <div class="drag-target"></div>
        </div>
        <footer-component></footer-component>
    </div>
</template>

<script>
    import DashboardComponent from "../pages/Dashboard/DashboardComponent";
    import UserComponent from "../pages/User/user-list/UserList";
    import CategoryComponent from "../pages/Category/CategoryComponent";
    import HeaderComponent from "../components/HeaderComponent";
    import SidebarComponent from "../components/SidebarComponent";
    import FooterComponent from "../components/FooterComponent";
    import {AuthService} from "../services/auth.service";

    export default {
        components: {
            'header-component': HeaderComponent,
            'sidebar-component': SidebarComponent,
            'footer-component': FooterComponent,
            'user-component': UserComponent,
            'category-component': CategoryComponent,
            'dashboard-component': DashboardComponent
        },
        created() {
            const userId = JSON.parse(AuthService.getUserCurrentLogin()).id;
            AuthService.resetUserLocalstorage(userId);
        },
        methods: {
            changeUser() {
                this.$refs.headerComponent.reloadData();
            }
        }
    }
</script>

<style scoped>
    .modal .modal-header .close {
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }
</style>
