<template xmlns="http://www.w3.org/1999/html">
    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Về chúng tôi</a></li>
        </ul>

        <div class="row">
            <div id="content" class="col-sm-12">

                <div class="about-us about-demo-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 about-us-center">
                            <div class="about-image-slider">
                                <div class="yt-content-slider"  data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                    <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="../../../../assets/image/demo/about/minhphu.jpg" alt="About Us"> </div>
                                    <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="../../../../assets/image/demo/about/minhphu.jpg" alt="About Us"> </div>
                                    <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="../../../../assets/image/demo/about/minhphu.jpg" alt="About Us"> </div>
                                </div>

                            </div>
                            <div class="content-description">
                                <h2 class="about-title">THƯ NGỎ</h2>
                                <p style="text-align: center">Kính chào Quý khách hàng , Thay mặt Công ty CP Máy lạnh ô tô Minh Phú trân trọng cảm ơn Quý khách gần xa đã hỗ trợ và hợp tác trong thời gian vừa qua.</p>
                                <p style="text-align: justify;">&emsp;&emsp; Ở Công ty CP Máy lạnh ô tô Minh Phú chúng tôi luôn tâm niệm làm việc bằng TÂM , thành công bằng chữ TÍN , và CHIA SẺ LỢI ÍCH cùng nhau đó là động lực giúp chúng tôi luôn luôn lắng nghe , cải tiến và hoàn thiện mình để mang lại những sản phẩm và dịch vụ có chất lượng cao trên thị trường Công ty CP Máy lạnh ô tô Minh Phú được thành lập với đội ngũ cán bộ nòng cốt , có thâm niên hoạt động trên 8 năm trong ngành Điện lạnh ôtô chúng tôi tự hào và tự tin có thể thực hiện được triết lý kinh doanh đó . Chúng tôi chỉ hoạt động chuyên sâu , cung cấp bán buôn và phân phối các linh kiện và thiết bị điện lạnh điều hòa Ô tô cho các dòng xe con , xe bán tải xe tải , xe khách và xe các loại xe công trình . Phạm vi hoạt động trên cả nước .</p>
                                <p style="text-align: justify;">Quý khách có nhu cầu làm đại lý phân phối hoặc nhu cầu về một mặt hàng cụ thể xin vui lòng truy cập liên hệ theo thông tin dưới đây : </p>
                                <p style="text-align: justify;">Công ty CP Máy lạnh ô tô Minh Phú , Hai Bà Trưng , Hà Nội . </p>
                                <p style="text-align: justify;">Địa chỉ : số 288, Trần Đại Nghĩa, Hai Bà Trưng , Hà Nội</p>
                                <p style="text-align: justify;">Hotline : 0988 665 663 - Zalo : 0988 665 663</p>
                                <p style="text-align: justify;">Email : minhphuautoparts@gmail.com</p>
                                <p style="text-align: justify;">Website :<a href="http://maylanhotominhphu.com/">www.maylanhotominhphu.com</a> </p>
                                <p style="text-align: justify;">Facebook :<a href="https://www.facebook.com/phutungdienlanhotoonline/"> https://www.facebook.com/phutungdienlanhotoonline/ </a></p>
                                <p style="text-align: justify;">Công ty CP Máy lạnh ô tô Minh Phú chào Quý khách . Rất hân hạnh được đón tiếp và phục vụ Quý khách .</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- //Main Container -->
</template>
