<template>
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container justify-content-center">
                    <div class="col-xl-8 col-11 d-flex justify-content-center">
                        <div class="card bg-authentication rounded-0 mb-0">
                            <div class="row m-0">
                                <div class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0">
                                    <img src="../../../../../app-assets/images/pages/login.png" alt="branding logo">
                                </div>
                                <div class="col-lg-6 col-12 p-0">
                                    <div class="card rounded-0 mb-0 px-2">
                                        <div class="card-header pb-1">
                                            <div class="card-title">
                                                <h4 class="mb-0">Đăng nhập</h4>
                                            </div>
                                        </div>
                                        <p class="px-2">Xin chào, hãy nhập tài khoản của bạn.</p>
                                        <div class="card-content">
                                            <div class="card-body pt-1">
                                                <form @submit.prevent="handleLogin()">
                                                    <fieldset class="form-label-group form-group position-relative has-icon-left">
                                                        <input
                                                            type="email"
                                                            class="form-control"
                                                            placeholder="Địa chỉ email"
                                                            :class="{ 'is-invalid': formSubmitted && ($v.user.email.$error || emailErrorMsg !== null) , 'is-valid': formSubmitted && !$v.user.email.$error }"
                                                            v-model.trim="user.email">
                                                        <div v-if="formSubmitted && emailErrorMsg" class="invalid-feedback">
                                                            <span>{{ emailErrorMsg }}</span>
                                                        </div>
                                                        <div class="form-control-position">
                                                            <i class="feather icon-user"></i>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="form-label-group position-relative has-icon-left">
                                                        <input
                                                            type="password"
                                                            class="form-control"
                                                            placeholder="Mật khẩu"
                                                            :class="{ 'is-invalid': formSubmitted && ($v.user.password.$error || passwordError !== null) , 'is-valid': formSubmitted && !$v.user.password.$error }"
                                                            v-model.trim="user.password">
                                                        <div v-if="formSubmitted && passwordError" class="invalid-feedback">
                                                            <span>{{ passwordError }}</span>
                                                        </div>
                                                        <div class="form-control-position">
                                                            <i class="feather icon-lock"></i>
                                                        </div>
                                                    </fieldset>
                                                    <div class="form-group d-flex justify-content-between align-items-center">
                                                        <div class="text-left">
                                                            <fieldset class="checkbox">
                                                                <div class="vs-checkbox-con vs-checkbox-primary">
                                                                    <input type="checkbox">
                                                                    <span class="vs-checkbox">
                                                                        <span class="vs-checkbox--check">
                                                                            <i class="vs-icon feather icon-check"></i>
                                                                        </span>
                                                                    </span>
                                                                    <span class="">Ghi nhớ tài khoản</span>
                                                                </div>
                                                            </fieldset>
                                                        </div>
<!--                                                        <div class="text-right"><a href="auth-forgot-password.html" class="card-link">Quên mật khẩu?</a></div>-->
                                                    </div>
                                                    <button type="submit" class="btn btn-primary float-right btn-inline">Đăng nhập</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="login-footer">
                                            <div class="divider">
                                                <div class="divider-text">Hoặc</div>
                                            </div>
                                            <div class="footer-btn d-inline">
                                                <a href="#" class="btn btn-facebook"><span class="fa fa-facebook"></span></a>
                                                <a href="#" class="btn btn-twitter white"><span class="fa fa-twitter"></span></a>
                                                <a href="#" class="btn btn-google"><span class="fa fa-google"></span></a>
                                                <a href="#" class="btn btn-github"><span class="fa fa-github-alt"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script src="./auth-login.js"></script>
<style lang="scss" scoped>
    html body {
        .content {
            margin: 0!important;
            .content-overlay {
                background: url(../../../../../app-assets/images/pages/vuexy-login-bg.jpg) no-repeat center center;
                background-size: cover;
                opacity: 1;
            }
            .content-wrapper {
                padding-top: 19rem!important;
                margin-top: 0;
            }
        }
    }
</style>
