<template>
    <div>
        <!-- Footer Container -->
        <footer class="footer-container typefooter-2">
            <div class="row-dark">
                <div class="row container container-top">
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-socials">
                        <ul class="socials">
                            <li class="facebook"><a href="https://www.facebook.com/smartaddons.page" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/smartaddons" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="google_plus"><a href="https://plus.google.com/u/0/+Smartaddons/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li class="pinterest"><a href="https://www.pinterest.com/smartaddons/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                            <li class="instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li class="Youtube"><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="module newsletter-footer1">
                            <div class="newsletter">
                                <h3 class="modtitle">Đăng ký để nhận tin mới nhất</h3>
                                <div class="block_content">
                                    <form method="post" id="signup" name="signup" class="form-group form-inline signup send-mail">
                                        <div class="form-group">
                                            <div class="input-box">
                                                <input type="email" placeholder="Địa chỉ email của bạn..." value="" class="form-control" id="txtemail" name="txtemail" size="55">
                                            </div>
                                            <div class="subcribe">
                                                <button class="btn btn-primary btn-default font-title" type="submit" onclick="return subscribe_newsletter();" name="submit">
                                                    <span>Đăng kí</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row footer-middle">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-style">
                        <div class="box-footer box-infos">
                            <div class="module">
                                <h3 class="modtitle">Liên hệ với chúng tôi</h3>
                                <div class="modcontent">
                                    <ul class="list-icon">
                                        <li><span class="icon pe-7s-map-marker"></span><a href="javascript:void(0)">Số 259 Phố Vọng, Phường Đồng Tâm, Hai Bà Trưng, Hà Nội </a></li>
                                        <li><span class="icon pe-7s-call"></span><a href="javascript:void(0)">0988 665 663</a></li>
                                        <li><span class="icon pe-7s-mail"></span><a href="javascript:void(0)">minhphuautoparts@gmail.com</a></li>
                                        <li><span class="icon pe-7s-alarm"></span>Hỗ trợ 24/7</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-style">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                                <div class="box-account box-footer">
                                    <div class="module clearfix">
                                        <h3 class="modtitle">Phụ tùng ô tô Minh Phú</h3>
                                        <div class="modcontent">
                                            <ul class="menu">
                                                <li><a href="#">Trang chủ</a></li>
                                                <li><a href="#">Sản phẩm</a></li>
                                                <li><a href="#">Liên hệ</a></li>
                                                <li><a href="#">Tin tức</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-clear">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="payment-w col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        </div>
                        <div class="copyright col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <p>Phụ tùng ô tô @ 2020 Company</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Back To Top-->
            <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
        </footer>
        <!-- //end Footer Container -->
    </div>
</template>
