<template>
    <router-view></router-view>
</template>

<script>
    export default {

    }
</script>

<style>
    .modal .modal-header .close {
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }
</style>
