<template>
    <div>
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                    <div class="content-header-left col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <h2 class="content-header-title float-left mb-0">Slider</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-body">
                    <!-- Slider list start -->
                    <section class="users-list-wrapper">
                        <!-- Ag Grid slider list section start -->
                        <div id="basic-examples">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="ag-grid-btns d-flex justify-content-between flex-wrap mb-1">
                                                    <div class="dropdown sort-dropdown mb-1 mb-sm-0">
                                                        <div class="top">
                                                            <div class="actions action-btns">
                                                                <div class="dt-buttons btn-group">
                                                                    <button class="btn btn-outline-primary" @click="newModal">
                                                                        <span><i class="feather icon-plus"></i> Thêm mới</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ag-btns d-flex flex-wrap">
                                                        <input v-model="dataSearch" type="text" class="ag-grid-filter form-control mr-1 mb-1 mb-sm-0" id="filter-text-box" placeholder="Tìm kiếm...." @keyup.enter="searchData()"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive table-hover">
                                            <table class="table table-striped dataex-html5-selectors">
                                                <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Ảnh</th>
                                                    <th>Tên</th>
                                                    <th>ACTION</th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="arrSliders.length > 0">
                                                    <tr v-for="(slider, index) in arrSliders">
                                                    <td>{{ ++index }}</td>
                                                    <td>
                                                        <img :src="slider.thumbnail_path" alt="" class="img-thumbnail"  width="150px">
                                                    </td>
                                                    <td >{{ slider.sli_name }}</td>
                                                    <td >
                                                        <span class="action-edit">
                                                            <a style="cursor: pointer;" @click="editModal(slider)">
                                                                <i class="feather icon-edit text-primary"></i>
                                                            </a>
                                                        </span>
                                                        <span class="action-delete">
                                                            <a style="cursor: pointer;" @click="deleteSlider(slider.sli_id)">
                                                                <i class="feather icon-trash-2 text-danger"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tbody v-else>
                                                <tr class="text-center">
                                                    <td colspan="5">Không tìm thấy dữ liệu</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Ag Grid slider list section end -->
                    </section>
                    <!-- slider list ends -->
                    <pagination-component :pagination=pagination @paginate="getAllSliders()"></pagination-component>
                </div>
            </div>
        </div>
        <!--        Modal-->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Thêm mới</h5>
                        <h5 class="modal-title" v-show="editmode" id="addCreateLabel">Sửa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="handleForm()" ref="formSlider" id="modal-slider">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="basicInput">Tên</label>
                                <input type="text" name="sli_name"
                                       placeholder="Tên"
                                       class="form-control" :value="slider.sli_name">
                            </div>
                            <div class="form-group">
                                <label for="basicInput">Ảnh</label>
                                <div class="form-group">
                                    <div v-if="slider.sli_image" class="mt-2 mb-2 text-center">
                                        <img :src="slider.thumbnail_path" class="img-fluid" width="150px" height="150px"/>
                                    </div>
                                    <input
                                        type="file"
                                        name="sli_image"
                                        class="form-control-file"
                                        ref="image_slider">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Cập nhật</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Thêm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./list-slider.js"></script>
<style scoped>
    .modal .modal-header .close {
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }
</style>
