<template>
    <div>
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                    <div class="content-header-left col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <h2 class="content-header-title float-left mb-0">Tin tức</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-body">
                    <!-- Blog list start -->
                    <section class="users-list-wrapper">
                        <!-- Ag Grid blog list section start -->
                        <div id="basic-examples">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="ag-grid-btns d-flex justify-content-between flex-wrap mb-1">
                                                    <div class="dropdown sort-dropdown mb-1 mb-sm-0">
                                                        <div class="top">
                                                            <div class="actions action-btns">
                                                                <div class="dt-buttons btn-group">
                                                                    <button class="btn btn-outline-primary" @click="newModal">
                                                                        <span><i class="feather icon-plus"></i> Thêm mới</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ag-btns d-flex flex-wrap">
                                                        <input v-model="dataSearch" type="text" class="ag-grid-filter form-control mr-1 mb-1 mb-sm-0" id="filter-text-box" placeholder="Tìm kiếm...." @keyup.enter="searchData()" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive table-hover">
                                            <table class="table table-striped dataex-html5-selectors">
                                                <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Logo</th>
                                                    <th>Tiêu đề</th>
                                                    <th width="50%">Mô tả</th>
                                                    <th width="10%">Tác giả</th>
                                                    <th>ACTION</th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="arrBlogs.length > 0">
                                                    <tr v-for="(blog, index) in arrBlogs">
                                                        <td >{{ ++index }}</td>
                                                        <td >
                                                            <img :src="blog.thumbnail_path" alt="" class="img-thumbnail"  width="150px">
                                                        </td>
                                                        <td >{{ blog.blog_title }}</td>
                                                        <td >{{ blog.blog_description }}</td>
                                                        <td >{{ blog.user_name }}</td>
                                                        <td >
                                                            <span class="action-edit">
                                                                <a style="cursor: pointer;" @click="editModal(blog)">
                                                                    <i class="feather icon-edit text-primary"></i>
                                                                </a>
                                                            </span>
                                                                <span class="action-delete">
                                                                <a style="cursor: pointer;" @click="deleteBlog(blog.blog_id)">
                                                                    <i class="feather icon-trash-2 text-danger"></i>
                                                                </a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr class="text-center">
                                                        <td colspan="6">Không tìm thấy dữ liệu</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Ag Grid bog list section end -->
                    </section>
                    <!-- blog list ends -->
                    <pagination-component :pagination=pagination @paginate="getAllBlogs()"></pagination-component>
                </div>
            </div>
        </div>
        <!--        Modal-->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Thêm mới</h5>
                        <h5 class="modal-title" v-show="editmode" id="addCreateLabel">Sửa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="handleForm()" ref="formBlog" id="modal-blog">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="basicInput">Tiêu đề</label>
                                <input type="text" name="blog_title"
                                       placeholder="Tiêu đề"
                                       class="form-control" :value="blog.blog_title">
                            </div>
                            <div class="form-group">
                                <label for="basicInput">Mô tả</label>
                                <input  type="text" name="blog_description"
                                       placeholder="Mô tả"
                                       class="form-control" :value="blog.blog_description">
                            </div>
                            <div class="form-group">
                                <label for="blog_content">Nội dung</label>
                                <textarea
                                    :value="blog.blog_content"
                                    name="blog_content" id="blog_content"
                                    placeholder="Nội dung"
                                    class="form-control"
                                    rows="5">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <div v-if="blog.blog_image" class="mt-2 mb-2 text-center">
                                    <img :src="blog.thumbnail_path" class="img-fluid" width="150px" height="150px"/>
                                </div>
                                <input
                                    type="file"
                                    name="blog_image"
                                    class="form-control-file"
                                    ref="image_blog">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Sửa</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Thêm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script src="./list-blog.js"></script>
<style scoped>
    .modal .modal-header .close {
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }
</style>
