<template>
    <div class="main-container" style="padding-bottom: 50px;">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"></div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="title pt-5">Giỏ hàng ({{ allProduct.length }} mặt hàng)</h2>
                        <div class="table-responsive form-group">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td class="text-center">Ảnh sản phẩm</td>
                                    <td class="text-left">Mã sản phẩm</td>
                                    <td class="text-left">Tên sản phẩm</td>
                                    <td class="text-left">Số lượng</td>
<!--                                    <td class="text-right">Giá</td>-->
<!--                                    <td class="text-right">Tổng tiền</td>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in allProduct" :key="item.id">
                                    <td class="text-center">
                                        <a href="product.html">
                                            <img width="70px" :src="item.thumbnail_path" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-thumbnail" />
                                        </a>
                                    </td>
                                    <td class="text-left"><a href="product.html">{{ item.name }}</a><br />
                                    </td>
                                    <td class="text-left">Pt 001</td>
                                    <td class="text-left" width="200px">
                                        <div class="input-group btn-block quantity">
                                            <input type="number" name="quantity" :value="item.quantity" size="1" class="form-control" :id="'quantity'+item.id" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary" @click="addToCart(item, item.id)"><i class="fa fa-clone"></i></button>
                                                <button type="button" class="btn btn-danger" @click="removeItemCart(item)"><i class="fa fa-times-circle"></i></button>
                                            </span>
                                        </div>
                                    </td>
<!--                                    <td class="text-right">{{ item.price | formatPrice }} VND</td>-->
<!--                                    <td class="text-right color-danger">{{ item.price * item.quantity | formatPrice }} VND</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <h2 class="title">Thông tin khách hàng</h2>
                                <form class="form-horizontal">
                                    <div class="form-group required">
                                        <label for="input-to-name" class="col-sm-3 control-label">Họ tên*</label>
                                        <div class="col-sm-9">
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="input-to-name"
                                                :class="{ 'is-invalid': formSubmitted && $v.customer.name.$error, 'is-valid': formSubmitted && !$v.customer.name.$error }"
                                                v-model="customer.name">
                                            <div v-if="formSubmitted && !$v.customer.name.required" class="invalid-feedback">
                                                {{ messages.NAME_REQUIRED }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-to-email" class="col-sm-3 control-label">Email*</label>
                                        <div class="col-sm-9">
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="input-to-email"
                                                :class="{ 'is-invalid': formSubmitted && ($v.customer.email.$error || emailErrorMsg !== null), 'is-valid': formSubmitted && !$v.customer.email.$error }"
                                                v-model="customer.email">
                                            <div v-if="formSubmitted && emailErrorMsg" class="invalid-feedback">
                                                <span>{{ emailErrorMsg }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-from-phone" class="col-sm-3 control-label">Số Điện thoại*</label>
                                        <div class="col-sm-9">
                                            <input
                                                type="text"
                                               class="form-control"
                                                id="input-from-phone"
                                                :class="{ 'is-invalid': formSubmitted && $v.customer.phone.$error, 'is-valid': formSubmitted && !$v.customer.phone.$error }"
                                                v-model="customer.phone">
                                            <div v-if="formSubmitted && $v.customer.phone.$error" class="invalid-feedback">
                                                <span v-if="!$v.customer.phone.required"> {{ messages.PHONE_REQUIRED }}</span>
                                                <span v-if="!$v.customer.phone.integer">{{ messages.PHONE_INVALID }} </span>
                                                <span v-if="!$v.customer.phone.minLength">{{ messages.PHONE_INVALID }} </span>
                                                <span v-if="!$v.customer.phone.maxLength">{{ messages.PHONE_INVALID }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="country_id" class="col-sm-3 control-label">Khu vực</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="country_id" name="country_id" v-model="customer.country">
                                                <option value="" > --- Chọn khu vực --- </option>
                                                <option value="1">Bắc bộ</option>
                                                <option value="2">Trung bộ</option>
                                                <option value="3">Nam bộ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-address" class="col-sm-3 control-label">Địa chỉ*</label>
                                        <div class="col-sm-9">
                                            <textarea
                                                class="form-control"
                                                id="input-address" rows="5"
                                                cols="40"
                                                :class="{ 'is-invalid': formSubmitted && $v.customer.address.$error, 'is-valid': formSubmitted && !$v.customer.address.$error }"
                                                v-model="customer.address"></textarea>
                                            <div v-if="formSubmitted && $v.customer.address.$error" class="invalid-feedback">
                                                <span v-if="!$v.customer.address.required"> {{ messages.ADDRESS_REQUIRED }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-note" class="col-sm-3 control-label">Ghi chú*</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="input-note" rows="5" cols="40" v-model="customer.description"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group required" hidden>
                                        <label class="col-sm-3 control-label">Hình thức thanh toán</label>
                                        <div class="col-sm-9">
                                            <div class="radio" v-for="payment in payments" :key="payment.value">
                                                <label>
                                                    <input type="radio" :value="payment.value" name="customer_stripe" v-model="customer.customer_payment"> {{payment.text}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <div class="pull-left"><a href="/shopping" class="btn btn-primary">Chọn thêm sản phẩm</a></div>
                                        <div class="pull-right"><a href="javascript:void(0);" @click="handleForm()" class="btn btn-primary">Đặt hàng</a></div>
                                    </div>
                                </form>
                            </div>
<!--                            <div class="col-sm-3">-->
<!--                                <h2 class="title"></h2>-->
<!--                                <table class="table table-bordered">-->
<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <td class="text-right">-->
<!--                                            <strong>Mã giảm giá:</strong>-->
<!--                                        </td>-->
<!--                                        <td class="text-right">-->
<!--                                            <input type="text" name="coupon_code" class="form-control"/>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="text-right">-->
<!--                                            <strong>Tổng tiền:</strong>-->
<!--                                        </td>-->
<!--                                        <td class="text-right">{{ total | formatPrice }} VND</td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./view-cart.js"></script>
<style>
    .invalid-feedback {
        color: #f00;
    }
    input.is-invalid {
        border: 1px solid #f00;
    }
    textarea.is-invalid {
        border: 1px solid #f00;
    }
</style>
