<template>
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-light navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="navbar-collapse" id="navbar-mobile">
                    <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav">
                            <li class="nav-item mobile-menu d-xl-none mr-auto">
                                <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                                    <i class="ficon feather icon-menu"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-vn"></i><span class="selected-language">Vietnamese</span></a>
                        </li>

                        <li class="dropdown dropdown-user nav-item"  id="dropdown-user">
                            <a class="dropdown-toggle nav-link dropdown-user-link">
                                <div class="user-nav d-sm-flex d-none">
                                    <span class="user-name text-bold-600">{{ currentUser.name }}</span>
                                    <span class="user-status">{{ currentUser.roleName }}</span>
                                </div>
                                <span>
                                <img class="round" :src="currentUser.thumbnail_path" alt="avatar" height="40" width="40">
                            </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <router-link class="dropdown-item" :to="{name: 'admin-profile'}" id="dropdown-user-menu">
                                    <i class="feather icon-user"></i> Sửa tài khoản
                                </router-link>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" @click="logout">
                                    <i class="feather icon-power"></i> Đăng xuất
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
</template>
<script>
    import { AuthService } from "../services/auth.service";

    export default {
        data() {
            return {
                user: {},
            }
        },
        created() {
            this.reloadData();
        },
        mounted() {
            this.showDropdownProfile();
        },
        methods: {
            showDropdownProfile() {
                const dropdownUser = document.getElementById('dropdown-user');
                const dropdownUserMenu = document.getElementById('dropdown-user-menu');
                dropdownUser.addEventListener('click', function () {
                    dropdownUserMenu.classList.toggle('show');
                    dropdownUser.classList.toggle('show');
                });
                dropdownUser.addEventListener('mouseleave', function () {
                    dropdownUserMenu.classList.remove('show');
                    dropdownUser.classList.remove('show');
                });
            },
            reloadData() {
                this.user = JSON.parse(AuthService.getUserCurrentLogin());
            },
            logout() {
                AuthService.removeToken();
                this.$router.push( {name: 'admin-login'});
            }
        },
        computed: {
            currentUser() {
                return this.user;
            }
        }
    }
</script>
