<template>
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <router-link class="navbar-brand" to="/admin/manage/dashboard" tag="a">
                        <div class="brand-logo"></div>
                        <h2 class="brand-text mb-0">Minh Phú</h2>
                    </router-link>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="navigation-header">
                    <span>Quản Lý</span>
                </li>
                <router-link v-for="(link, index) in links" class="nav-item" tag="li" :to="{name: link.name}" :key="index">
                    <a>
                        <i :class="link.icon"></i>
                        <span class="menu-title">{{ link.title }}</span>
                    </a>
                </router-link>


                <li class="nav-item">
                    <a href="#" @click.prevent="logout">
                        <i class="feather icon-power"></i>
                        <span class="menu-title">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import { AuthService } from "../services/auth.service";
    import { COMMON } from "../const/base_const";

    export default {
        data() {
            return {
                links: [],
            }
        },
        created() {
            let links = [
                { title: 'Trang chủ', name: 'admin-dashboard', icon: 'feather icon-home'},
                { title: 'Slider',  name: 'admin-slider', icon: 'feather icon-image'},
                { title: 'Tin tức', name: 'admin-blog', icon: 'feather icon-layout'},
                { title: 'Hóa đơn', name: 'admin-bill', icon: 'feather icon-shopping-cart'},
                { title: 'Nhà cung cấp', name: 'admin-supplier', icon: 'feather icon-package'},
                { title: 'Loại sản phẩm', name: 'admin-category', icon: 'feather icon-command'},
                { title: 'Sản phẩm', name: 'admin-product', icon: 'feather icon-list'},
                { title: 'Cá nhân', name: 'admin-profile', icon: 'feather icon-user'},
            ];
            const user = JSON.parse(AuthService.getUserCurrentLogin());
            if (user.roleName === COMMON.USER_ROLE_ADMIN) {
                links.push(
                    { title: 'Users', name: 'admin-user', icon: 'feather icon-users'},
                );
            }
            this.links = links;
        },
        methods: {
            logout() {
                AuthService.removeToken();
                this.$router.push({name: 'admin-login'});
            }
        }
    }
</script>
