<template>
    <div>
        <div class="product-view">
            <div class="left-content-product">
                <div class="row">
                    <div class="content-product-left col-md-6 col-sm-12 col-xs-12">
                        <div class="large-image  vertical">
                            <img itemprop="image" class="product-image-zoom" :src="product.thumbnail_path">
                        </div>
                    </div>

                    <div class="content-product-right col-md-6 col-sm-12 col-xs-12">
                        <div class="title-product">
                            <h1>{{product.pro_name}}</h1>
                        </div>
                        <!-- Review ---->
                        <div class="box-review form-group">
                            <div class="ratings">
                                <div class="rating-box">
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="product-label form-group" style="margin-bottom: 9px;">
                            <div class="product_page_price price" itemprop="offerDetails" itemscope="">
                                <span class="price-new" itemprop="price">
                                    Giá: Liên hệ
                                </span>

                        </div>
                            <div class="stock"><span>Có sẵn:</span> <span class="status-stock">Trong kho</span></div>
                        </div>

                        <div class="product-box-desc">
                            <div class="inner-box-desc">
                                <div class="price-tax"><span>Mã sản phẩm:</span> {{product.pro_code}}</div>
                                <br>
                                <div class="price-tax"><span>Công xuất/Dung tích:</span> {{product.pro_wattage}}</div>
                                <br>
                                <div class="price-tax"><span>K.thước/Tr.lượng:</span> {{product.pro_height_weight}}</div>
                                <br>
                                <div class="reward"><span>Loại sản phẩm:</span> {{product.category}}</div>
                                <br>
                                <div class="brand"><span>Thương hiệu:</span><a href="#"> {{product.pro_brand}}</a>     </div>
                            </div>
                        </div>
                        <div id="product">
                            <div class="form-group box-info-product">
                                <div class="option quantity">
                                </div>
                                <div class="cart">
                                    <input type="button" data-toggle="tooltip" title="" value="Thêm vào giỏ hàng" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" @click="addToCart(product)" data-original-title="Thêm vào giỏ hàng">
                                </div>
                            </div>

                        </div>
                        <!-- end box info product -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Tabs -->
        <div class="producttab ">
            <div class="tabsslider horizontal-tabs  col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Chi tiết sản phẩm</a></li>
                </ul>
                <div class="tab-content col-xs-12">
                    <div id="tab-1" class="tab-pane fade active in">
                        <p>
                            {{product.pro_description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Product Tabs -->
    </div>
</template>

<script src="./product-detail.js"></script>
