<template>
    <div>
        <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Loại sản phẩm</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Category list start -->
                <section class="users-list-wrapper">
                    <!-- Ag Grid category list section start -->
                    <div id="basic-examples">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="ag-grid-btns d-flex justify-content-between flex-wrap mb-1">
                                                <div class="dropdown sort-dropdown mb-1 mb-sm-0">
                                                    <div class="top">
                                                        <div class="actions action-btns">
                                                            <div class="dt-buttons btn-group">
                                                                <button class="btn btn-outline-primary" @click="newModal">
                                                                    <span><i class="feather icon-plus"></i> Thêm mới</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ag-btns d-flex flex-wrap">
                                                    <input v-model="dataSearch" type="text" class="ag-grid-filter form-control mr-1 mb-1 mb-sm-0" id="filter-text-box"  placeholder="Tìm kiếm...." @keyup.enter="searchData()"  />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-hover">
                                        <table class="table table-striped dataex-html5-selectors">
                                            <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên loại sản phẩm</th>
                                                <th>Mô tả</th>
                                                <th>ACTION</th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="arrCategories.length > 0">
                                                <tr v-for="(category, index) in arrCategories" :key="index">
                                                    <td >{{ ++index }}</td>
                                                    <td  class="product-name">{{ category.name }}</td>
                                                    <td  class="product-desciption" style="width: 60%;">{{ category.description }}</td>
                                                    <td  class="product-action">
                                                        <span class="action-edit">
                                                            <a style="cursor: pointer;" @click="editModal(category)">
                                                                <i class="feather icon-edit text-primary"></i>
                                                            </a>
                                                        </span>
                                                        <span class="action-delete">
                                                            <a @click="deleteCategory(category.cate_id)" style="cursor: pointer;">
                                                                <i class="feather icon-trash-2 text-danger"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody v-else>
                                                <tr class="text-center">
                                                    <td colspan="4">Không có dữ liệu</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Ag Grid category list section end -->
                </section>
                <!-- category list ends -->
            </div>
        </div>
    </div>
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Thêm mới</h5>
                        <h5 class="modal-title" v-show="editmode" id="addCreateLabel">Sửa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="handleForm()" ref="formCategory">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="category_name">Tên</label>
                                <input
                                    type="text"
                                    name="name"
                                   id="category_name"
                                    placeholder="Name"
                                    class="form-control"
                                    :value="category.name">
                            </div>
                            <div class="form-group">
                                <label for="description">Mô tả</label>
                                <textarea
                                    rows="5"
                                    :value="category.description"
                                    name="description"
                                    id="description"
                                    placeholder="Description"
                                    class="form-control">
                                </textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Sửa</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./category.js"></script>
<style scoped>
    .modal .modal-header .close {
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }
</style>
