<template>
    <div>
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                    <div class="content-header-left col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <h2 class="content-header-title float-left mb-0">Nhà cung cấp</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-body">
                    <!-- Category list start -->
                    <section class="users-list-wrapper">
                        <!-- Ag Grid category list section start -->
                        <div id="basic-examples">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="ag-grid-btns d-flex justify-content-between flex-wrap mb-1">
                                                    <div class="dropdown sort-dropdown mb-1 mb-sm-0">
                                                        <div class="top">
                                                            <div class="actions action-btns">
                                                                <div class="dt-buttons btn-group">
                                                                    <button class="btn btn-outline-primary" @click="newModal">
                                                                        <span><i class="feather icon-plus"></i> Thêm mới</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ag-btns d-flex flex-wrap">
                                                        <input v-model="dataSearch" type="text" class="ag-grid-filter form-control mr-1 mb-1 mb-sm-0" id="filter-text-box" placeholder="Tìm kiếm...." @keyup.enter="searchData()"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive table-hover">
                                            <table class="table table-striped dataex-html5-selectors">
                                                <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Logo</th>
                                                    <th>Tên công ty</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Email</th>
                                                    <th>ACTION</th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="arrSuppliers.length > 0">
                                                    <tr v-for="(supplier, index) in arrSuppliers">
                                                        <td >{{ ++index }}</td>
                                                        <td ><img :src="supplier.thumbnail_path" alt="" class="img-thumbnail"  width="150px"></td>
                                                        <td >{{ supplier.supp_name }}</td>
                                                        <td >{{ supplier.supp_address }}</td>
                                                        <td >{{ supplier.supp_phone }}</td>
                                                        <td >{{ supplier.supp_email }}</td>
                                                        <td >
                                                            <span class="action-edit">
                                                                <a style="cursor: pointer;" @click="editModal(supplier)">
                                                                    <i class="feather icon-edit text-primary"></i>
                                                                </a>
                                                            </span>
                                                            <span class="action-delete">
                                                                <a style="cursor: pointer;" @click="deleteSupplier(supplier.supp_id)">
                                                                    <i class="feather icon-trash-2 text-danger"></i>
                                                                </a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr class="text-center">
                                                        <td colspan="7">Không tìm thấy dữ liệu</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Ag Grid category list section end -->
                    </section>
                    <!-- category list ends -->
                </div>
            </div>
        </div>
        <!--        Modal-->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Thêm mới</h5>
                        <h5 class="modal-title" v-show="editmode" id="addCreateLabel">Sửa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="handleForm()" ref="formSupplier" id="modal-supplier">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="basicInput">Tên</label>
                                <input type="text" name="supp_name"
                                       placeholder="Tên"
                                       class="form-control" :value="supplier.supp_name">
                            </div>
                            <div class="form-group">
                                <label for="basicInput">Địa chỉ</label>
                                <input :value="supplier.supp_address" name="supp_address" id="supp_address"
                                          placeholder="Địa chỉ"
                                          class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="basicInput">Số điện thoại</label>
                                <input :value="supplier.supp_phone" name="supp_phone" id="supp_phone"
                                          placeholder="Số điện thoại"
                                          class="form-control" >
                            </div>
                            <div class="form-group">
                                <label for="basicInput">Email</label>
                                <input :value="supplier.supp_email" name="supp_email" id="supp_email"
                                          placeholder="Email"
                                          class="form-control">
                            </div>
                            <div class="form-group">
                                <div v-if="supplier.supp_logo" class="mt-2 mb-2 text-center">
                                    <img :src="supplier.thumbnail_path" class="img-fluid" width="150px" height="150px"/>
                                </div>
                                <input type="file"
                                    name="supp_logo"
                                    class="form-control-file">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Cập nhật</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Thêm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./supplier.js"></script>

<style scoped>
    .modal .modal-header .close {
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }
</style>
