<template>
    <div>
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- users edit start -->
                    <section class="page-users-view">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <ul class="nav nav-tabs mb-3" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account" aria-controls="account" role="tab" aria-selected="true">
                                                <i class="feather icon-user mr-25"></i><span class="d-none d-sm-block">Tài khoản</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">Tài khoản</div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="users-view-image">
                                                        <img v-if="user.thumbnail_path" :src="user.thumbnail_path" class="users-avatar-shadow w-100 rounded mb-2 pr-2 ml-1" alt="avatar">
                                                    </div>
                                                    <div class="col-12 col-sm-9 col-md-6 col-lg-5">
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                <td class="font-weight-bold">Tên hiển thị:</td>
                                                                <td>{{ user.username }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-bold">Họ tên:</td>
                                                                <td>{{ user.name | upText }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-bold">Email:</td>
                                                                <td>{{ user.email }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-bold">Bộ phận:</td>
                                                                <td>{{ user.department | upText }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-5">
                                                        <table class="ml-0 ml-sm-0 ml-lg-0">
                                                            <tbody>
                                                            <tr>
                                                                <td class="font-weight-bold">Số điện thoại:</td>
                                                                <td>{{ user.phone }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-bold">Quyền:</td>
                                                                <td>{{ user.roleName | upText }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-bold">Ngày sinh:</td>
                                                                <td>{{ user.dateofbirth | formatDate }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-bold">Ngày tạo:</td>
                                                                <td>{{ user.created_at }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                            <!-- users edit account form start -->
                                            <form @submit.prevent="handleForm()" ref="formDetailUser">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6">
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label>Tên hiển thị</label>
                                                                <input
                                                                    type="text"
                                                                    placeholder="Username"
                                                                    name="username"
                                                                    class="form-control"
                                                                    v-model="user.username"
                                                                    :class="{ 'is-invalid': formSubmitted && ($v.user.username.$error || usernameErrorMsg !== null), 'is-valid': formSubmitted && !$v.user.username.$error }">
                                                                <div v-if="formSubmitted && usernameErrorMsg" class="invalid-feedback">
                                                                    <span>{{ usernameErrorMsg }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Quyền</label>
                                                            <select class="form-control" v-model="user.role_id" name="role_id">
                                                                <option v-for="role in roles" :value="role.value">{{ role.name | upText }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label>Họ tên</label>
                                                                <input
                                                                    type="text"
                                                                    placeholder="Username"
                                                                    name="name"
                                                                    class="form-control" v-model="user.name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label>E-mail</label>
                                                                <input
                                                                    type="email"
                                                                    name="email"
                                                                    placeholder="Email Address"
                                                                    class="form-control"
                                                                    v-model="user.email"
                                                                    :class="{ 'is-invalid': formSubmitted && ($v.user.email.$error || emailErrorMsg !== null), 'is-valid': formSubmitted && !$v.user.email.$error }">
                                                                <div v-if="formSubmitted && emailErrorMsg" class="invalid-feedback">
                                                                    <span>{{ emailErrorMsg }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <a href="javascript:void(0)" class="text-primary" @click="openModalChangePassword">Thay đổi mật khẩu</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <div class="form-group">
                                                            <label>Số điện thoại</label>
                                                            <input
                                                                type="text"
                                                                name="phone"
                                                                placeholder="Phone Number"
                                                                class="form-control"
                                                                v-model.trim="user.phone"
                                                                :class="{ 'is-invalid': formSubmitted && ($v.user.phone.$error || phoneErrorMsg !== null), 'is-valid': formSubmitted && !$v.user.phone.$error }">
                                                            <div v-if="formSubmitted && phoneErrorMsg" class="invalid-feedback">
                                                                <span>{{ phoneErrorMsg }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ngày sinh</label>
                                                            <input
                                                                v-model="user.dateofbirth"
                                                                type="date"
                                                                name="dateofbirth"
                                                                placeholder="Date of birth"
                                                                class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Bộ phận</label>
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                name="department"
                                                                placeholder="Company name"
                                                                v-model.trim="user.department"
                                                                :class="{ 'is-invalid': formSubmitted && ($v.user.department.$error || departmentErrorMsg !== null), 'is-valid': formSubmitted && !$v.user.department.$error }">
                                                            <div v-if="formSubmitted && phoneErrorMsg" class="invalid-feedback">
                                                                <span>{{ departmentErrorMsg }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="d-flex flex-wrap align-items-center">
                                                                <fieldset class="form-group">
                                                                    <label for="basicInputFile">Thay đổi ảnh</label>
                                                                    <input
                                                                        type="file"
                                                                        class="form-control-file"
                                                                        id="basicInputFile"
                                                                        name="avatar">
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                                        <button type="submit" class="btn btn-primary m-1">
                                                            <i class="feather icon-check-square"></i>
                                                            Thay đổi</button>
                                                        <button
                                                            type="button" class="btn btn-danger m-1"
                                                            @click="deleteUser(userId)">
                                                            <i class="feather icon-trash-2"></i> Xóa
                                                        </button>
                                                        <button type="button" class="btn btn-warning m-1" @click="goBack()">
                                                            <i class="feather icon-arrow-right"></i> Trở về
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- users edit account form ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- users edit ends -->
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-change-password" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">Thay đổi mật khẩu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="updatePassword(user.id)">
                        <div class="modal-body">
                            <div class="form-group">
                                <input
                                    v-model.trim="user.password_old"
                                    type="password"
                                    id="Old Password"
                                    name="old_password"
                                    placeholder="Old Password"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input
                                    v-model.trim="user.password_new"
                                    type="password"
                                    id="password"
                                    name="password"
                                    placeholder="New Password"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input
                                    v-model.trim="user.confirm_password"
                                    type="password"
                                    name="confirm_password"
                                    id="confirm_password"
                                    placeholder="Confirm Password"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Lưu mật khẩu</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./user-detail.js"></script>
