<template>
    <div>
        <!-- Header Container  -->
        <header id="header" class=" typeheader-3">

            <!-- Header Top -->
            <div class="header-top hidden-compact">
                <div class="container">
                    <div class="row">
                        <div class="header-top-left col-lg-3 col-md-4 col-sm-5 hidden-xs">
                            <div class="telephone " >
                                <ul class="socials">
                                    <li class="facebook"><a href="https://www.facebook.com/smartaddons.page" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="https://twitter.com/smartaddons" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="google_plus"><a href="https://plus.google.com/u/0/+Smartaddons/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="pinterest"><a href="https://www.pinterest.com/smartaddons/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li class="instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>


                        </div>
                        <div class="header-top-right col-lg-9 col-md-8 col-sm-7 col-xs-12">
                            <ul class="top-link list-inline lang-curr">
                                <li class="currency">
                                    <div class="btn-group currencies-block">
                                        <form method="post" enctype="multipart/form-data" id="currency">
                                            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                <span class="icon icon-credit "></span> VNĐ  <span class="fa fa-angle-down"></span>
                                            </a>
                                        </form>
                                    </div>
                                </li>
                                <li class="language">
                                    <div class="btn-group languages-block ">
                                        <form method="post" enctype="multipart/form-data" id="bt-language">
                                            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                <img src="../../../../assets/image/catalog/flags/gb.png" alt="Vietnamese" title="Vietnamese">
                                                <span class="flag-icon flag-icon-vn">Việt Nam</span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="javascript:void(0)"><img class="image_flag" src="../../../../assets/image/catalog/flags/gb.png" alt="English" title="English" /> English </a></li>
                                                <li> <a href="javascript:void(0)"> <img class="image_flag" src="../../../../assets/image/catalog/flags/ar.png" alt="Arabic" title="Arabic" /> Arabic </a> </li>
                                            </ul>
                                        </form>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle hidden-compact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                            <div class="logo">
                                <a href="/"><img src="../../../../assets/image/catalog/logo4.png" title="Your Store" alt="Your Store" height="60px" /></a>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 middle-right">
                            <div class="search-header-w">
                                <div class="icon-search hidden-lg hidden-md"><i class="fa fa-search"></i></div>

                                <div id="sosearchpro" class="sosearchpro-wrapper so-search ">
                                    <form>
                                        <div id="search0" class="search input-group form-group">
                                            <div class="select_category filter_type  icon-select hidden-sm hidden-xs">
                                                <select class="no-border" name="category_id" v-model="keyCategory">
                                                    <option value="">Danh mục sản phẩm</option>
                                                    <option v-for="cate in categories" :value="cate.cate_id" :key="cate.cate_id">
                                                            {{ cate.name | upText }}
                                                    </option>
                                                </select>
                                            </div>
                                            <input
                                                class="autosearch-input form-control"
                                                type="text" size="50"
                                                autocomplete="off"
                                                placeholder="Nhập từ khóa cần tìm kiếm..."
                                                name="search" v-model="keySearch" v-on:keydown.enter.prevent="searchData" required />
                                            <button type="button" class="button-search btn btn-primary" @click="searchData()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                        <input type="hidden" name="route" value="product/search" />
                                    </form>
                                </div>
                            </div>

                            <div class="shopping_cart">
                                <div id="cart" class="btn-shopping-cart">
                                    <a href="javascript:void(0)" data-loading-text="Loading... " class="btn-group top_cart dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <div class="shopcart">
                                        <span class="icon-c">
                                            <i class="fa fa-shopping-basket"></i>
                                        </span>
                                            <div class="shopcart-inner">
                                                <p class="text-shopping-cart">
                                                    Giỏ hàng
                                                </p>
                                                <span class="total-shopping-cart cart-total-full">
                                                    <span class="items_cart">{{ getAllCart ? getAllCart.length : 0 }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>

                                    <ul class="dropdown-menu pull-right shoppingcart-box" role="menu">
                                        <li>
                                            <table class="table table-striped">
                                                <tbody>
                                                <tr v-for="item in getAllCart">
                                                    <td class="text-center" style="width:70px">
                                                        <a href="product.html">
                                                            <img :src="item.thumbnail_path" style="width:70px" alt="Yutculpa ullamcon" title="Yutculpa ullamco" class="preview">
                                                        </a>
                                                    </td>
                                                    <td class="text-left"> <a class="cart_product_name" href="product.html">{{ item.name }}</a>
                                                    </td>
                                                    <td class="text-center">x{{ item.quantity }}</td>
<!--                                                    <td class="text-center">{{ item.price | formatPrice }} VND</td>-->
                                                    <td class="text-right">
                                                        <a @click="removeItemCart(item)" class="fa fa-times fa-delete"></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                        <li>
                                            <div>
                                                <table class="table table-bordered">
                                                    <tbody>
<!--                                                        <tr>-->
<!--                                                            <td class="text-left"><strong>Thành tiền</strong></td>-->
<!--                                                            <td class="text-right color-danger">{{ total | formatPrice }} VND</td>-->
<!--                                                        </tr>-->
                                                    </tbody>
                                                </table>
                                                <p class="text-right">
                                                    <a class="btn view-cart" href="/cart-view">
                                                        <i class="fa fa-shopping-cart"></i>Giỏ hàng
                                                    </a>&nbsp;&nbsp;&nbsp;
                                                    <a class="btn btn-mega checkout-cart" href="/cart-view"><i class="fa fa-share"></i>Thanh Toán</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottom hidden-compact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="menu-vertical-w">
                                <div class="responsive so-megamenu megamenu-style-dev ">
                                    <div class="so-vertical-menu ">
                                        <nav class="navbar-default">

                                            <div class="container-megamenu vertical">
                                                <div id="menuHeading">
                                                    <div class="megamenuToogle-wrapper">
                                                        <div class="megamenuToogle-pattern">
                                                            <div class="container">
                                                                <div>
                                                                    <span></span>
                                                                    <span></span>
                                                                    <span></span>
                                                                </div>
                                                                Danh mục sản phẩm
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="navbar-header">
                                                    <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
                                                        <i class="fa fa-bars"></i>
                                                        <span>Danh mục sản phẩm</span>
                                                    </button>
                                                </div>
                                                <div class="vertical-wrapper" >
                                                    <span id="remove-verticalmenu" class="fa fa-times"></span>
                                                    <div class="megamenu-pattern">
                                                        <div class="container-mega">
                                                            <ul class="megamenu">
                                                                <li v-for="cate in categories" class="item-vertical css-menu with-sub-menu hover">
                                                                    <p class="close-menu"></p>
                                                                    <a :href="'/danh-sach-san-pham/' + cate.cate_id" class="clearfix">
                                                                        <span>{{cate.name}}</span>
                                                                        <b class="fa-angle-right"></b>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                            <div class="main-menu-w">
                                <div class="responsive so-megamenu megamenu-style-dev">
                                    <nav class="navbar-default">
                                        <div class=" container-megamenu  horizontal open ">
                                            <div class="navbar-header">
                                                <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                            </div>

                                            <div class="megamenu-wrapper">
                                                <span id="remove-megamenu" class="fa fa-times"></span>
                                                <div class="megamenu-pattern">
                                                    <div class="container-mega">
                                                        <ul class="megamenu" data-transition="slide" data-animationtime="250">
                                                            <li class="home with-sub-menu hover">
                                                                <a href="/"><strong>Trang chủ</strong></a>
                                                            </li>
                                                            <li class="with-sub-menu hover">
                                                                <a href="/shopping" class="clearfix">
                                                                    <strong>Sản phẩm</strong>
                                                                </a>
                                                            </li>
                                                            <li class="with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a href="/tin-tuc" class="clearfix">
                                                                    <strong>Tin Tức</strong>
                                                                    <span class="label"></span>
                                                                </a>
                                                            </li>
                                                            <li class="with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a href="/lien-he" class="clearfix">
                                                                    <strong>Liên hệ</strong>
                                                                </a>
                                                            </li>
                                                            <li class="with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a href="/ve-chung-toi" class="clearfix">
                                                                    <strong>Về chúng tôi</strong>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>
        <!-- //Header Container  -->
    </div>
</template>

<script src="./header.js"></script>

<style>
    .color-danger {
        color: #ff2d37;
    }
</style>
