<template>
    <div>
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- users list start -->
                    <section class="users-list-wrapper">
                        <!-- Ag Grid users list section start -->
                        <div id="basic-examples">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="ag-grid-btns d-flex justify-content-between flex-wrap mb-1">
                                                    <div class="dropdown sort-dropdown mb-1 mb-sm-0">
                                                        <div class="top">
                                                            <div class="actions action-btns">
                                                                <div class="dt-buttons btn-group">
                                                                    <button class="btn btn-outline-primary" @click="newModal">
                                                                        <span><i class="feather icon-plus"></i> Thêm mới</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ag-btns d-flex flex-wrap">
                                                        <input v-model="dataSearch" type="text" class="ag-grid-filter form-control mr-1 mb-1 mb-sm-0" id="filter-text-box" placeholder="Tìm kiếm...." @keyup.enter="searchData()"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive table-hover">
                                            <table class="table table-striped dataex-html5-selectors">
                                                <thead>
                                                <tr>
                                                    <th>Ảnh</th>
                                                    <th>Tên</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Bộ phận</th>
                                                    <th style="width: 5%;">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="users.length > 0">
                                                <tr v-for="user in users" :key="user.id">
                                                    <td class="avatar-item">
                                                        <img v-if="user.thumbnail_path" :src="user.thumbnail_path" alt="avatar" width="100" height="100">
                                                    </td>
                                                    <td>
                                                        <router-link :to="{name: 'admin-user-detail', params: { userId: user.id }}" class="text-primary">
                                                            {{ user.name }}
                                                        </router-link>
                                                    </td>
                                                    <td>{{ user.email }}</td>
                                                    <td>
                                                        <span
                                                            class="badge"
                                                            :class="user.roleName === 'admin' ? 'badge-danger' : 'badge-primary'">
                                                            {{ user.roleName | upText }}
                                                        </span>
                                                    </td>
                                                    <td>{{ user.department}}</td>
                                                    <td style="width: 5%;">
                                                        <span class="action-edit">
                                                            <router-link  :to="{name: 'admin-user-detail', params: { userId: user.id }}">
                                                                <i class="feather icon-edit text-primary"></i>
                                                            </router-link>
                                                        </span>
                                                        <span class="action-delete">
                                                            <span @click="deleteUser(user.id)" style="cursor: pointer;">
                                                                <i class="feather icon-trash-2 text-danger"></i>
                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr>
                                                        <td colspan="12" class="text-center">Không tìm thấy dữ liệu</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Ag Grid users list section end -->
                    </section>
                    <!-- users list ends -->
                    <pagination-component :pagination=pagination @paginate="reloadData()"></pagination-component>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">Thêm mới</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="handleForm()" ref="formUser">
                        <div class="modal-body">
                            <div class="form-group">
                                <input
                                    v-model.trim="user.name"
                                    type="text"
                                    placeholder="Name"
                                    name="name"
                                    class="form-control"
                                    :class="{ 'is-invalid': formSubmitted && $v.user.name.$error, 'is-valid': formSubmitted && !$v.user.name.$error }">
                                <div v-if="formSubmitted && !$v.user.name.required" class="invalid-feedback">
                                    {{ messages.NAME_REQUIRED }}
                                </div>
                            </div>
                            <div class="form-group">
                                <input
                                    v-model.trim="user.username"
                                    type="text"
                                    placeholder="Username"
                                    name="username"
                                    class="form-control"
                                    :class="{ 'is-invalid': formSubmitted && $v.user.username.$error, 'is-valid': formSubmitted && !$v.user.username.$error }">
                                <div v-if="formSubmitted && !$v.user.username.required" class="invalid-feedback">
                                    {{ messages.USERNAME_REQUIRED }}
                                </div>
                            </div>
                            <div class="form-group">
                                <input
                                    type="email"
                                    name="email"
                                    placeholder="Email Address"
                                    class="form-control"
                                    :class="{ 'is-invalid': formSubmitted && ( $v.user.email.$error || emailErrorMsg !== null), 'is-valid': formSubmitted && !$v.user.email.$error }"
                                    v-model.trim="user.email">
                                <div v-if="formSubmitted && emailErrorMsg" class="invalid-feedback">
                                    <span>{{ emailErrorMsg }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input
                                    autocomplete="off"
                                    v-model.trim="user.password"
                                    type="password"
                                    id="password"
                                    name="password"
                                    placeholder="Password"
                                    class="form-control"
                                    :class="{ 'is-invalid': formSubmitted && ($v.user.password.$error || passwordError !== null), 'is-valid': formSubmitted && !$v.user.password.$error }">
                                <div v-if="formSubmitted && passwordError" class="invalid-feedback">
                                    <span>{{ passwordError }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input
                                    autocomplete="off"
                                    v-model.trim="user.confirm_password"
                                    type="password"
                                    name="confirm_password"
                                    id="confirm_password"
                                    placeholder="Confirm Password"
                                    class="form-control"
                                    :class="{ 'is-invalid': formSubmitted && $v.user.confirm_password.$error, 'is-valid': formSubmitted && !$v.user.confirm_password.$error }">
                                <div v-if="formSubmitted && $v.user.confirm_password.$error" class="invalid-feedback">
                                    <span v-if="!$v.user.confirm_password.required">
                                        {{ messages.CONFIRM_PASSWORD_REQUIRED }}
                                    </span>
                                    <span v-else-if="!$v.user.confirm_password.sameAsPassword">
                                        {{ messages.CONFIRM_PASSWORD_INVALID }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <select id="type" class="form-control" name="role_id">
                                    <option value="">Select Role</option>
                                    <option
                                        v-for="role in roles"
                                        :value="role.value" :key="role.id">{{ role.name | upText }}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input
                                    v-model.trim="user.phone"
                                    type="text"
                                    name="phone"
                                    id="phone"
                                    placeholder="Phone Number"
                                    class="form-control"
                                    :class="{ 'is-invalid': formSubmitted && $v.user.phone.$error, 'is-valid': formSubmitted && !$v.user.phone.$error }">
                                <div v-if="formSubmitted && $v.user.phone.$error" class="invalid-feedback">
                                    <span v-if="!$v.user.phone.required"> {{ messages.PHONE_REQUIRED }}</span>
                                    <span v-if="!$v.user.phone.integer">{{ messages.PHONE_INVALID }} </span>
                                    <span v-if="!$v.user.phone.minLength">{{ messages.PHONE_INVALID }} </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input
                                    v-model.trim="user.department"
                                    type="text"
                                    id="department"
                                    name="department"
                                    placeholder="Department"
                                    class="form-control">
                            </div>

                            <div class="form-group">
                                <input
                                    v-model.trim="user.dateofbirth"
                                    type="date"
                                    name="dateofbirth"
                                    id="dateofbirth"
                                    placeholder="Date of birth"
                                    class="form-control">
                            </div>

                            <div class="form-group">
                                <div v-if="imagePreview" class="mt-2 mb-2 text-center">
                                    <img :src="imagePreview" class="img-fluid" width="150px" height="150px"/>
                                </div>
                                <input
                                    type="file"
                                    name="avatar"
                                    id="avatar"
                                    class="form-control-file"
                                    accept="image/*"
                                    ref="inputFileAvatar"
                                    @change="onPreviewImageUpload($event)">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Thêm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./user-list.js"></script>
<style scoped>
    td.avatar-item {
        padding: 1rem 0 1rem 0.5rem;
    }
    .badge {
        color: #fff;
    }
</style>
