<template>
    <div >
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                    <div class="content-header-left col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <h2 class="content-header-title float-left mb-0">Đơn hàng</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-body">
                    <!-- Bill list start -->
                    <section class="users-list-wrapper">
                        <!-- Ag Grid Bill list section start -->
                        <div id="basic-examples">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="ag-grid-btns d-flex justify-content-between flex-wrap mb-1">
                                                    <div class="dropdown sort-dropdown mb-1 mb-sm-0">
                                                        <div class="top">
                                                            <div class="actions action-btns">
                                                                <div class="dt-buttons btn-group">
<!--                                                                    <button class="btn btn-outline-primary" @click="newModal">-->
<!--                                                                        <span><i class="feather icon-plus"></i> Thêm mới</span>-->
<!--                                                                    </button>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ag-btns d-flex flex-wrap">
                                                        <input v-model="dataSearch" type="text" class="ag-grid-filter form-control mr-1 mb-1 mb-sm-0" id="filter-text-box" placeholder="Tìm kiếm...." @keyup.enter="searchData()" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive table-hover">
                                            <table class="table table-striped dataex-html5-selectors">
                                                <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Mã hóa đơn</th>
                                                        <th>Tên khách hàng</th>
                                                        <th>Số điện thoại</th>
                                                        <th>Email</th>
                                                        <th>Ngày giao hàng</th>
                                                        <th>Trạng thái</th>
                                                        <th>ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody v-if="arrBills.length > 0">
                                                    <tr v-for="(bill, index) in arrBills">
                                                        <td>{{ ++index }}</td>
                                                        <td>{{ bill.or_id }}</td>
                                                        <td>{{ bill.or_cus_name }}</td>
                                                        <td>{{ bill.or_cus_phone }}</td>
                                                        <td>{{ bill.or_cus_email }}</td>
                                                        <td>{{ bill.or_shipped_date }}</td>
                                                        <td>
                                                            <div v-if="bill.or_status_id === 1 ">
                                                                Đã xuất hàng
                                                            </div>
                                                            <div v-else>
                                                                Chưa xuất hàng
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="action-edit">
                                                                <router-link  :to="{name: 'admin-bill-detail', params: { billId: bill.or_id }}">
                                                                    <i class="feather icon-edit text-primary"></i>
                                                                </router-link>
                                                            </span>
                                                            <span class="action-delete" v-if="isAdmin">
                                                                <a @click="deleteBill(bill.or_id)" style="cursor: pointer;">
                                                                    <i class="feather icon-trash-2 text-danger"></i>
                                                                </a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr>
                                                        <td colspan="8" class="text-center">Không có kết quả trả về</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Ag Grid bill list section end -->
                    </section>
                    <!-- bill list ends -->
                    <pagination-component :pagination=pagination @paginate="getAllBills()"></pagination-component>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./list-bill.js">
</script>
<style scoped>
    .modal .modal-header .close {
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }
</style>

