<template>
    <div class="myproduct">
        <div>

        </div>
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                    <div class="content-header-left col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <h2 class="content-header-title float-left mb-0">Sản phẩm</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-body">
                    <section class="users-list-wrapper">
                        <div id="basic-examples">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="ag-grid-btns d-flex justify-content-between flex-wrap mb-1">
                                                    <div class="dropdown sort-dropdown mb-1 mb-sm-0">
                                                        <div class="top">
                                                            <div class="actions action-btns">
                                                                <div class="dt-buttons btn-group">
                                                                    <button class="btn btn-outline-primary" @click="newModal">
                                                                        <span><i class="feather icon-plus"></i> Thêm mới</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ag-btns d-flex flex-wrap">
                                                        <input v-model="dataSearch" type="text" class="ag-grid-filter form-control mr-1 mb-1 mb-sm-0" id="filter-text-box" placeholder="Tìm kiếm...." @keyup.enter="searchData()" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive table-hover">
                                            <table class="table table-striped dataex-html5-selectors">
                                                <thead>
                                                <tr>
                                                    <th>Ảnh</th>
                                                    <th>Mã sản phẩm</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Loại sản phẩm</th>
                                                    <th>Số lượng</th>
                                                    <th>Nhà cung cấp</th>
                                                    <th>Tình trạng</th>
                                                    <th width="10%">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="product in arrProducts">
                                                    <td>
                                                        <img :src="product.thumbnail_path" alt="" class="img-thumbnail"  width="150px">
                                                    </td>
                                                    <td>{{ product.pro_code}}</td>
                                                    <td>{{ product.pro_name}}</td>
                                                    <td>{{ product.category}}</td>
                                                    <td>{{ product.pro_quantity}}</td>
                                                    <td>{{ product.supp_address}}</td>
                                                    <td>{{ product.pro_quantity > 0 ? 'Còn Hàng' : 'Hết Hàng'}}</td>
                                                    <td>
                                                    <span class="action-delete">
                                                        <a @click="viewProduct(product)" style="cursor: pointer;">
                                                            <i class="feather icon-eye text-danger"></i>
                                                        </a>
                                                    </span>
                                                    <span class="action-edit" v-if="isAdmin">
                                                        <a style="cursor: pointer;" @click="editModal(product)">
                                                            <i class="feather icon-edit text-primary"></i>
                                                        </a>
                                                    </span>
                                                        <span class="action-delete" v-if="isAdmin">
                                                        <a @click="deleteProduct(product.pro_id)" style="cursor: pointer;">
                                                            <i class="feather icon-trash-2 text-danger"></i>
                                                        </a>
                                                    </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <pagination-component :pagination="pagination" @paginate="getAllProducts"></pagination-component>
                </div>
            </div>
        </div>
        <!-- Show modals add new product -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">Sản phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="handleForm()" ref="formProduct">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="pro_code">Mã sản phẩm</label>
                                        <input
                                            v-model.trim="productValidate.pro_code"
                                            type="text"
                                            name="pro_code"
                                            placeholder="Mã sản phẩm"
                                            id="pro_code"
                                            class="form-control"
                                            :class="{ 'is-invalid': formSubmitted && ($v.productValidate.pro_code.$error || proCodeErrorMsg !== null), 'is-valid': formSubmitted && !$v.productValidate.pro_code.$error }">
                                        <div v-if="formSubmitted && proCodeErrorMsg" class="invalid-feedback">
                                            <span>{{ proCodeErrorMsg }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="pro_name">Tên sản phẩm</label>
                                        <input
                                            v-model.trim="productValidate.pro_name"
                                            type="text"
                                            name="pro_name"
                                            placeholder="Tên sản phẩm"
                                            id="pro_name"
                                            class="form-control"
                                            :class="{ 'is-invalid': formSubmitted && ($v.productValidate.pro_name.$error || proNameErrorMsg !== null), 'is-valid': formSubmitted && !$v.productValidate.pro_name.$error }">
                                        <div v-if="formSubmitted && proNameErrorMsg" class="invalid-feedback">
                                            <span>{{ proNameErrorMsg }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Loại sản phẩm</label>
                                        <select
                                            name="pro_category_id"
                                            class="form-control"
                                            :class="{ 'is-invalid': formSubmitted && ($v.productValidate.pro_category_id.$error || proCategoryErrorMsg !== null), 'is-valid': formSubmitted && !$v.productValidate.pro_category_id.$error }"
                                            v-model="productValidate.pro_category_id">
                                            <option v-for="category in arrCategories" :value="category.cate_id">{{ category.name }}</option>
                                        </select>
                                        <div v-if="formSubmitted && proCategoryErrorMsg" class="invalid-feedback">
                                            <span>{{ proCategoryErrorMsg }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="pro_brand">Thương hiệu</label>
                                        <input
                                            type="text"
                                            name="pro_brand"
                                            id="pro_brand"
                                            placeholder="Thương hiệu"
                                            class="form-control"
                                            :class="{ 'is-invalid': formSubmitted && ($v.productValidate.pro_brand.$error || proBrandErrorMsg !== null), 'is-valid': formSubmitted && !$v.productValidate.pro_brand.$error }"
                                            v-model="productValidate.pro_brand">
                                        <div v-if="formSubmitted && proBrandErrorMsg" class="invalid-feedback">
                                            <span>{{ proBrandErrorMsg }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Giá</label>
                                        <input
                                            type="text"
                                            name="pro_price"
                                            placeholder="Giá"
                                            id="basicInput"
                                            class="form-control"
                                            :class="{ 'is-invalid': formSubmitted && ($v.productValidate.pro_price.$error || proPriceErrorMsg !== null), 'is-valid': formSubmitted && !$v.productValidate.pro_price.$error }"
                                            v-model="productValidate.pro_price">
                                        <div v-if="formSubmitted && proPriceErrorMsg" class="invalid-feedback">
                                            <span>{{ proPriceErrorMsg }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="helpInputTop">Giảm giá</label>
                                        <input
                                            v-model.trim="productValidate.pro_discount"
                                            type="text"
                                            name="pro_discount"
                                            placeholder="Giảm giá"
                                            id="helpInputTop"
                                            class="form-control"
                                            :class="{ 'is-invalid': formSubmitted && ($v.productValidate.pro_discount.$error || proDiscountErrorMsg !== null), 'is-valid': formSubmitted && !$v.productValidate.pro_discount.$error }">
                                        <div v-if="formSubmitted && proDiscountErrorMsg" class="invalid-feedback">
                                            <span>{{ proDiscountErrorMsg }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="pro_quantity">Số lượng</label>
                                        <input
                                            type="text"
                                            id="pro_quantity"
                                            name="pro_quantity"
                                            placeholder="Số lượng"
                                            class="form-control"
                                            :class="{ 'is-invalid': formSubmitted && ($v.productValidate.pro_quantity.$error || proDiscountErrorMsg !== null), 'is-valid': formSubmitted && !$v.productValidate.pro_quantity.$error }"
                                        v-model="productValidate.pro_quantity">
                                        <div v-if="formSubmitted && proQuantityErrorMsg" class="invalid-feedback">
                                            <span>{{ proQuantityErrorMsg }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="pro_supplier_id">Nhà cung cấp</label>
                                        <select
                                            v-model="productValidate.pro_supplier_id"
                                            name="pro_supplier_id"
                                            id="pro_supplier_id"
                                            class="form-control">
                                            <option v-for="supplier in arrSuppliers" :value="supplier.supp_id"> {{ supplier.supp_name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="pro_wattage">Dung tích</label>
                                        <input
                                            type="text"
                                            id="pro_wattage"
                                            name="pro_wattage"
                                            placeholder="Dung tích"
                                            class="form-control" v-model="productValidate.pro_wattage">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="pro_height_weight">K.thước/Tr.lượng</label>
                                        <input
                                            type="text"
                                            id="pro_height_weight"
                                            name="pro_height_weight"
                                            placeholder="Kích thước, trọng lượng"
                                            class="form-control" v-model="productValidate.pro_height_weight">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Mô tả</label>
                                        <textarea
                                            class="form-control"
                                            name="pro_description"
                                            rows="3"
                                            placeholder="Label in Textarea"
                                            :value="productValidate.pro_description">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-md-6 col-12">
                                    <fieldset class="form-group">
                                        <div v-if="imagePreview" class="mt-2 mb-2 text-center">
                                            <img :src="imagePreview" class="img-fluid" width="150px" height="150px"/>
                                        </div>
                                        <label for="basicInput">Tải ảnh</label>
                                        <div class="card-content">
                                            <input
                                                type="file"
                                                name="pro_image"
                                                id="avatar"
                                                class="form-control-file"
                                                accept="image/*"
                                                ref="inputFileImageProduct"
                                                @change="onPreviewImageUpload($event)">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary" v-if="isCreate">Thêm mới</button>
                            <button type="submit" class="btn btn-primary" v-else>Sửa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modals add new product -->
        <!--   Modal view product     -->
        <div class="modal fade" id="viewProduct" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="viewProductLabel">Thông tin sản phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_code">Mã sản phẩm</label>
                                    <input
                                        :value="product.pro_code"
                                        type="text"
                                        name="pro_code"
                                        placeholder="Mã sản phẩm"
                                        id="view_pro_code"
                                        class="form-control"
                                        disabled>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_name">Tên sản phẩm</label>
                                    <input
                                        :value="product.pro_name"
                                        type="text"
                                        name="view_pro_name"
                                        placeholder="Tên sản phẩm"
                                        id="view_pro_name"
                                        class="form-control"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_category">Loại sản phẩm</label>
                                    <select name="pro_category_id" class="form-control" id="view_pro_category" :value="product.pro_category_id" disabled>
                                        <option v-for="category in arrCategories" :value="category.cate_id">{{ category.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_brand">Thương hiệu</label>
                                    <input
                                        :value="product.pro_brand"
                                        type="text"
                                        name="pro_brand"
                                        id="view_pro_brand"
                                        class="form-control"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_price">Giá</label>
                                    <input
                                        :value="product.pro_price"
                                        type="text"
                                        name="pro_price"
                                        disabled
                                        id="view_pro_price"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_discount">Giảm giá</label>
                                    <input
                                        :value="product.pro_discount"
                                        disabled
                                        type="text"
                                        name="pro_discount"
                                        placeholder="Giảm giá"
                                        id="view_pro_discount"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_quantity">Số lượng</label>
                                    <input
                                        :value="product.pro_quantity"
                                        disabled
                                        type="text"
                                        id="view_pro_quantity"
                                        name="pro_quantity"
                                        placeholder="Số lượng"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_supplier_id">Nhà cung cấp</label>
                                    <select
                                        name="pro_supplier_id"
                                        id="view_pro_supplier_id"
                                        class="form-control"
                                        v-model="product.pro_supplier_id"
                                        disabled>
                                        <option v-for="supplier in arrSuppliers" :value="supplier.supp_id"> {{ supplier.supp_name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_wattage">Dung tích</label>
                                    <input
                                        :value="product.pro_wattage"
                                        disabled
                                        type="text"
                                        id="view_pro_wattage"
                                        name="pro_wattage"
                                        placeholder="Dung tích"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="view_pro_height_weight">K.thước/Tr.lượng</label>
                                    <input
                                        :value="product.pro_height_weight"
                                        disabled
                                        type="text"
                                        id="view_pro_height_weight"
                                        name="pro_height_weight"
                                        placeholder="kích thước, trọng lượng"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="pro_description" rows="5" :value="product.pro_description" disabled>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-6 col-12">
                                <fieldset class="form-group">
                                    <div v-if="imagePreview" class="mt-2 mb-2 text-center">
                                        <img :src="imagePreview" class="img-fluid" width="150px" height="150px"/>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script src="./list-product.js"></script>
