<template>
    <div>
        <router-view></router-view>
    </div>
</template>


<style scoped>
    .modal .modal-header .close {
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }
</style>
