<template>
    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Tin tức</a></li>
        </ul>
        <div class="row">
            <!--Left Part Start -->
            <aside class="col-md-3 col-sm-4 col-xs-12 content-aside left_column " id="column-left">
                <div class="module blog-category titleLine">
                    <h3 class="modtitle">Tin tức</h3>
                    <div class="modcontent">
                        <ul class="list-group ">
                            <li class="list-group-item" v-for="blog in blogNews">
                                <a :href="'tin-tuc/blog-detail?id=' + blog.blog_id" class="group-item active">{{blog.blog_title}}</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </aside>
            <!--Left Part End -->

            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8">
                <div class="blog-header">
                    <h3>Tin của chúng tôi</h3>

                </div>
                <div class="blog-category clearfix">

                    <div class="blog-listitem row">

                        <div class="blog-item col-lg-4 col-md-4 col-sm-6 col-xs-12" v-for="blog in blogNews">
                            <div class="blog-item-inner clearfix">
                                <div class="itemBlogImg clearfix">
                                    <div class="article-image">
                                        <div>
                                            <a>
                                                <img :src="blog.thumbnail_path"/>
                                            </a>
                                        </div>
                                        <div class="article-date">
                                            <div class="date">  <span class="article-date">
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="itemBlogContent clearfix ">
                                    <div class="blog-content">
                                        <div class="article-title font-title">
                                            <h4><a :href="'tin-tuc/blog-detail?id=' + blog.blog_id">{{blog.blog_title}}</a></h4>
                                        </div>
                                        <div class="blog-meta"> <span class="author"><i class="fa fa-user"></i><span>Đăng bởi </span>{{blog.author}}</span>
                                        </div>
                                        <p class="article-description">{{blog.blog_description}}</p>
                                        <div class="readmore">
                                            <a class="btn-readmore font-title" :href="'tin-tuc/blog-detail?id=' + blog.blog_id"><i class="fa fa-caret-right"></i>Chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="product-filter product-filter-bottom filters-panel clearfix">
                        <div class="row">
                            <div class="col-md-12">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
    <!-- //Main Container -->
</template>
<script src="./blog.js"></script>
