<template>
    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">{{blogDetail.blog_title}}</a></li>
        </ul>

        <div class="row">
            <!--Left Part Start -->
            <aside class="col-md-3 col-sm-4 col-xs-12 content-aside left_column " id="column-left">
                <div class="module blog-category titleLine">
                    <h3 class="modtitle">Tin tức</h3>
                    <div class="modcontent">
                        <ul class="list-group ">
                            <li class="list-group-item" v-for="blog in blogNews">
                                <a :href="'blog-detail?id=' + blog.blog_id" class="group-item active">{{blog.blog_title}}</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </aside>
            <!--Left Part End -->

            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8">
                <div class="article-info">
<!--                    <pre id="11111">{{blogDetail}}</pre>-->
                    <div class="blog-header">
                        <h3>{{blogDetail.blog_title}}</h3>
                    </div>
                    <div class="article-sub-title">
                        <span class="article-author">Đăng bởi: <a href="#"> {{blogDetail.author}}</a></span>
                        <span class="article-date"> {{blogDetail.created_at}}</span>
                        <span class="article-comment">0  Bình luận</span>
                    </div>
                    <div class="form-group">
                        <a  class="image-popup">
                            <img :src="blogDetail.thumbnail_path"/>
                        </a>
                    </div>

                    <div class="article-description">
                        <p>{{blogDetail.blog_content}}</p>
                    </div>
                </div>

            </div>


        </div>
        <!--Middle Part End-->
    </div>
    <!-- //Main Container -->
</template>
<script src="./blogDetail.js"></script>
