<template>
  <div>
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <!-- Dashboard Analytics Start -->
          <section id="dashboard-analytics">
            <!--     part 1         -->
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="card bg-analytics text-white">
                  <div class="card-content">
                    <div class="card-body text-center">
                      <img
                        src="../../../../app-assets/images/elements/decore-left.png"
                        class="img-left"
                        alt="card-img-left"
                      />
                      <img
                        src="../../../../app-assets/images/elements/decore-right.png"
                        class="img-right"
                        alt="card-img-right"
                      />
                      <div class="avatar avatar-xl bg-primary shadow mt-0">
                        <div class="avatar-content">
                          <i class="feather icon-award white font-large-1"></i>
                        </div>
                      </div>
                      <div class="text-center">
                        <h1 class="mb-2 text-white">Chào mừng bạn đến với hệ thống quản lý</h1>
                        <p class="m-auto w-75">
                          Phụ tùng ô tô
                          <strong>Minh Phú</strong>.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!--     part 2         -->
            <div class="row">
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-header d-flex flex-column align-items-start pb-0">
                    <div class="avatar bg-rgba-primary p-50 m-0">
                      <div class="avatar-content">
                        <i class="feather icon-users text-primary font-medium-5"></i>
                      </div>
                    </div>
                    <h2 class="text-bold-700 mt-1">{{ countUser }}</h2>
                    <p class="mb-0">Tài khoản</p>
                  </div>
                  <div class="card-content" style="position: relative;">
                    <div id="line-area-chart-1" style="min-height: 100px;">
                      <div
                        id="apexcharts8xzqtx2"
                        class="apexcharts-canvas apexcharts8xzqtx2 light"
                        style="width: 363px; height: 100px;"
                      >
                        <svg
                          id="SvgjsSvg1419"
                          width="363"
                          height="100"
                          xmlns="http://www.w3.org/2000/svg"
                          version="1.1"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:svgjs="http://svgjs.com/svgjs"
                          class="apexcharts-svg"
                          xmlns:data="ApexChartsNS"
                          transform="translate(0, 0)"
                          style="background: transparent;"
                        >
                          <g
                            id="SvgjsG1421"
                            class="apexcharts-inner apexcharts-graphical"
                            transform="translate(0, 0)"
                          >
                            <defs id="SvgjsDefs1420">
                              <clipPath id="gridRectMask8xzqtx2">
                                <rect
                                  id="SvgjsRect1425"
                                  width="365.5"
                                  height="102.5"
                                  x="-1.25"
                                  y="-1.25"
                                  rx="0"
                                  ry="0"
                                  fill="#ffffff"
                                  opacity="1"
                                  stroke-width="0"
                                  stroke="none"
                                  stroke-dasharray="0"
                                />
                              </clipPath>
                              <clipPath id="gridRectMarkerMask8xzqtx2">
                                <rect
                                  id="SvgjsRect1426"
                                  width="365"
                                  height="102"
                                  x="-1"
                                  y="-1"
                                  rx="0"
                                  ry="0"
                                  fill="#ffffff"
                                  opacity="1"
                                  stroke-width="0"
                                  stroke="none"
                                  stroke-dasharray="0"
                                />
                              </clipPath>
                              <linearGradient
                                id="SvgjsLinearGradient1432"
                                x1="0"
                                y1="0"
                                x2="0"
                                y2="1"
                              >
                                <stop
                                  id="SvgjsStop1433"
                                  stop-opacity="0.7"
                                  stop-color="rgba(115,103,240,0.7)"
                                  offset="0"
                                />
                                <stop
                                  id="SvgjsStop1434"
                                  stop-opacity="0.5"
                                  stop-color="rgba(241,240,254,0.5)"
                                  offset="0.8"
                                />
                                <stop
                                  id="SvgjsStop1435"
                                  stop-opacity="0.5"
                                  stop-color="rgba(241,240,254,0.5)"
                                  offset="1"
                                />
                              </linearGradient>
                            </defs>
                            <line
                              id="SvgjsLine1424"
                              x1="362.5"
                              y1="0"
                              x2="362.5"
                              y2="100"
                              stroke="#b6b6b6"
                              stroke-dasharray="3"
                              class="apexcharts-xcrosshairs"
                              x="362.5"
                              y="0"
                              width="1"
                              height="100"
                              fill="#b1b9c4"
                              filter="none"
                              fill-opacity="0.9"
                              stroke-width="1"
                            />
                            <g
                              id="SvgjsG1438"
                              class="apexcharts-xaxis"
                              transform="translate(0, 0)"
                            >
                              <g
                                id="SvgjsG1439"
                                class="apexcharts-xaxis-texts-g"
                                transform="translate(0, -4)"
                              />
                            </g>
                            <g id="SvgjsG1442" class="apexcharts-grid">
                              <line
                                id="SvgjsLine1444"
                                x1="0"
                                y1="100"
                                x2="363"
                                y2="100"
                                stroke="transparent"
                                stroke-dasharray="0"
                              />
                              <line
                                id="SvgjsLine1443"
                                x1="0"
                                y1="1"
                                x2="0"
                                y2="100"
                                stroke="transparent"
                                stroke-dasharray="0"
                              />
                            </g>
                            <g
                              id="SvgjsG1428"
                              class="apexcharts-area-series apexcharts-plot-series"
                            >
                              <g
                                id="SvgjsG1429"
                                class="apexcharts-series"
                                seriesName="Subscribers"
                                data-:longest-series="true"
                                rel="1"
                                data-:real-index="0"
                              >
                                <path
                                  id="SvgjsPath1436"
                                  d="M 0 100L 0 77.77777777777777C 21.174999999999997 77.77777777777777 39.325 51.111111111111114 60.5 51.111111111111114C 81.675 51.111111111111114 99.825 60 121 60C 142.175 60 160.325 24.444444444444443 181.5 24.444444444444443C 202.675 24.444444444444443 220.825 55.55555555555556 242 55.55555555555556C 263.175 55.55555555555556 281.325 6.666666666666657 302.5 6.666666666666657C 323.675 6.666666666666657 341.825 17.777777777777786 363 17.777777777777786C 363 17.777777777777786 363 17.777777777777786 363 100M 363 17.777777777777786z"
                                  fill="url(#SvgjsLinearGradient1432)"
                                  fill-opacity="1"
                                  stroke-opacity="1"
                                  stroke-linecap="butt"
                                  stroke-width="0"
                                  stroke-dasharray="0"
                                  class="apexcharts-area"
                                  index="0"
                                  clip-path="url(#gridRectMask8xzqtx2)"
                                  pathTo="M 0 100L 0 77.77777777777777C 21.174999999999997 77.77777777777777 39.325 51.111111111111114 60.5 51.111111111111114C 81.675 51.111111111111114 99.825 60 121 60C 142.175 60 160.325 24.444444444444443 181.5 24.444444444444443C 202.675 24.444444444444443 220.825 55.55555555555556 242 55.55555555555556C 263.175 55.55555555555556 281.325 6.666666666666657 302.5 6.666666666666657C 323.675 6.666666666666657 341.825 17.777777777777786 363 17.777777777777786C 363 17.777777777777786 363 17.777777777777786 363 100M 363 17.777777777777786z"
                                  pathFrom="M -1 140L -1 140L 60.5 140L 121 140L 181.5 140L 242 140L 302.5 140L 363 140"
                                />
                                <path
                                  id="SvgjsPath1437"
                                  d="M 0 77.77777777777777C 21.174999999999997 77.77777777777777 39.325 51.111111111111114 60.5 51.111111111111114C 81.675 51.111111111111114 99.825 60 121 60C 142.175 60 160.325 24.444444444444443 181.5 24.444444444444443C 202.675 24.444444444444443 220.825 55.55555555555556 242 55.55555555555556C 263.175 55.55555555555556 281.325 6.666666666666657 302.5 6.666666666666657C 323.675 6.666666666666657 341.825 17.777777777777786 363 17.777777777777786"
                                  fill="none"
                                  fill-opacity="1"
                                  stroke="#7367f0"
                                  stroke-opacity="1"
                                  stroke-linecap="butt"
                                  stroke-width="2.5"
                                  stroke-dasharray="0"
                                  class="apexcharts-area"
                                  index="0"
                                  clip-path="url(#gridRectMask8xzqtx2)"
                                  pathTo="M 0 77.77777777777777C 21.174999999999997 77.77777777777777 39.325 51.111111111111114 60.5 51.111111111111114C 81.675 51.111111111111114 99.825 60 121 60C 142.175 60 160.325 24.444444444444443 181.5 24.444444444444443C 202.675 24.444444444444443 220.825 55.55555555555556 242 55.55555555555556C 263.175 55.55555555555556 281.325 6.666666666666657 302.5 6.666666666666657C 323.675 6.666666666666657 341.825 17.777777777777786 363 17.777777777777786"
                                  pathFrom="M -1 140L -1 140L 60.5 140L 121 140L 181.5 140L 242 140L 302.5 140L 363 140"
                                />
                                <g id="SvgjsG1430" class="apexcharts-series-markers-wrap">
                                  <g class="apexcharts-series-markers">
                                    <circle
                                      id="SvgjsCircle1450"
                                      r="0"
                                      cx="363"
                                      cy="17.777777777777786"
                                      class="apexcharts-marker wo4vubmp5 no-pointer-events"
                                      stroke="#ffffff"
                                      fill="#7367f0"
                                      fill-opacity="1"
                                      stroke-width="2"
                                      stroke-opacity="0.9"
                                      default-marker-size="0"
                                    />
                                  </g>
                                </g>
                                <g id="SvgjsG1431" class="apexcharts-datalabels" />
                              </g>
                            </g>
                            <line
                              id="SvgjsLine1445"
                              x1="0"
                              y1="0"
                              x2="363"
                              y2="0"
                              stroke="#b6b6b6"
                              stroke-dasharray="0"
                              stroke-width="1"
                              class="apexcharts-ycrosshairs"
                            />
                            <line
                              id="SvgjsLine1446"
                              x1="0"
                              y1="0"
                              x2="363"
                              y2="0"
                              stroke-dasharray="0"
                              stroke-width="0"
                              class="apexcharts-ycrosshairs-hidden"
                            />
                            <g id="SvgjsG1447" class="apexcharts-yaxis-annotations" />
                            <g id="SvgjsG1448" class="apexcharts-xaxis-annotations" />
                            <g id="SvgjsG1449" class="apexcharts-point-annotations" />
                          </g>
                          <rect
                            id="SvgjsRect1423"
                            width="0"
                            height="0"
                            x="0"
                            y="0"
                            rx="0"
                            ry="0"
                            fill="#fefefe"
                            opacity="1"
                            stroke-width="0"
                            stroke="none"
                            stroke-dasharray="0"
                          />
                          <g
                            id="SvgjsG1440"
                            class="apexcharts-yaxis"
                            rel="0"
                            transform="translate(-21, 0)"
                          >
                            <g id="SvgjsG1441" class="apexcharts-yaxis-texts-g" />
                          </g>
                        </svg>
                        <div class="apexcharts-legend"></div>
                        <div class="apexcharts-tooltip light" style="left: 218.219px; top: 20px;">
                          <div
                            class="apexcharts-tooltip-series-group active"
                            style="display: flex;"
                          >
                            <span
                              class="apexcharts-tooltip-marker"
                              style="background-color: rgb(115, 103, 240);"
                            ></span>
                            <div
                              class="apexcharts-tooltip-text"
                              style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"
                            >
                              <div class="apexcharts-tooltip-y-group"></div>
                              <div class="apexcharts-tooltip-z-group">
                                <span class="apexcharts-tooltip-text-z-label"></span>
                                <span class="apexcharts-tooltip-text-z-value"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="resize-triggers">
                      <div class="expand-trigger">
                        <div style="width: 364px; height: 101px;"></div>
                      </div>
                      <div class="contract-trigger"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-header d-flex flex-column align-items-start pb-0">
                    <div class="avatar bg-rgba-success p-50 m-0">
                      <div class="avatar-content">
                        <i class="feather icon-credit-card text-success font-medium-5"></i>
                      </div>
                    </div>
                    <h2 class="text-bold-700 mt-1">{{countProduct}}</h2>
                    <p class="mb-0">Sản phẩm</p>
                  </div>
                  <div class="card-content" style="position: relative;">
                    <div id="line-area-chart-2" style="min-height: 100px;">
                      <div
                        id="apexchartsvm7rfl4n"
                        class="apexcharts-canvas apexchartsvm7rfl4n light"
                        style="width: 363px; height: 100px;"
                      >
                        <svg
                          id="SvgjsSvg1454"
                          width="363"
                          height="100"
                          xmlns="http://www.w3.org/2000/svg"
                          version="1.1"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:svgjs="http://svgjs.com/svgjs"
                          class="apexcharts-svg"
                          xmlns:data="ApexChartsNS"
                          transform="translate(0, 0)"
                          style="background: transparent;"
                        >
                          <g
                            id="SvgjsG1456"
                            class="apexcharts-inner apexcharts-graphical"
                            transform="translate(0, 0)"
                          >
                            <defs id="SvgjsDefs1455">
                              <clipPath id="gridRectMaskvm7rfl4n">
                                <rect
                                  id="SvgjsRect1460"
                                  width="365.5"
                                  height="102.5"
                                  x="-1.25"
                                  y="-1.25"
                                  rx="0"
                                  ry="0"
                                  fill="#ffffff"
                                  opacity="1"
                                  stroke-width="0"
                                  stroke="none"
                                  stroke-dasharray="0"
                                />
                              </clipPath>
                              <clipPath id="gridRectMarkerMaskvm7rfl4n">
                                <rect
                                  id="SvgjsRect1461"
                                  width="365"
                                  height="102"
                                  x="-1"
                                  y="-1"
                                  rx="0"
                                  ry="0"
                                  fill="#ffffff"
                                  opacity="1"
                                  stroke-width="0"
                                  stroke="none"
                                  stroke-dasharray="0"
                                />
                              </clipPath>
                              <linearGradient
                                id="SvgjsLinearGradient1467"
                                x1="0"
                                y1="0"
                                x2="0"
                                y2="1"
                              >
                                <stop
                                  id="SvgjsStop1468"
                                  stop-opacity="0.7"
                                  stop-color="rgba(40,199,111,0.7)"
                                  offset="0"
                                />
                                <stop
                                  id="SvgjsStop1469"
                                  stop-opacity="0.5"
                                  stop-color="rgba(234,249,241,0.5)"
                                  offset="0.8"
                                />
                                <stop
                                  id="SvgjsStop1470"
                                  stop-opacity="0.5"
                                  stop-color="rgba(234,249,241,0.5)"
                                  offset="1"
                                />
                              </linearGradient>
                            </defs>
                            <line
                              id="SvgjsLine1459"
                              x1="60"
                              y1="0"
                              x2="60"
                              y2="100"
                              stroke="#b6b6b6"
                              stroke-dasharray="3"
                              class="apexcharts-xcrosshairs"
                              x="60"
                              y="0"
                              width="1"
                              height="100"
                              fill="#b1b9c4"
                              filter="none"
                              fill-opacity="0.9"
                              stroke-width="1"
                            />
                            <g
                              id="SvgjsG1473"
                              class="apexcharts-xaxis"
                              transform="translate(0, 0)"
                            >
                              <g
                                id="SvgjsG1474"
                                class="apexcharts-xaxis-texts-g"
                                transform="translate(0, -4)"
                              />
                            </g>
                            <g id="SvgjsG1477" class="apexcharts-grid">
                              <line
                                id="SvgjsLine1479"
                                x1="0"
                                y1="100"
                                x2="363"
                                y2="100"
                                stroke="transparent"
                                stroke-dasharray="0"
                              />
                              <line
                                id="SvgjsLine1478"
                                x1="0"
                                y1="1"
                                x2="0"
                                y2="100"
                                stroke="transparent"
                                stroke-dasharray="0"
                              />
                            </g>
                            <g
                              id="SvgjsG1463"
                              class="apexcharts-area-series apexcharts-plot-series"
                            >
                              <g
                                id="SvgjsG1464"
                                class="apexcharts-series"
                                seriesName="Revenue"
                                data-:longest-series="true"
                                rel="1"
                                data-:real-index="0"
                              >
                                <path
                                  id="SvgjsPath1471"
                                  d="M 0 100L 0 60C 21.174999999999997 60 39.325 90 60.5 90C 81.675 90 99.825 40 121 40C 142.175 40 160.325 80 181.5 80C 202.675 80 220.825 60 242 60C 263.175 60 281.325 80 302.5 80C 323.675 80 341.825 20 363 20C 363 20 363 20 363 100M 363 20z"
                                  fill="url(#SvgjsLinearGradient1467)"
                                  fill-opacity="1"
                                  stroke-opacity="1"
                                  stroke-linecap="butt"
                                  stroke-width="0"
                                  stroke-dasharray="0"
                                  class="apexcharts-area"
                                  index="0"
                                  clip-path="url(#gridRectMaskvm7rfl4n)"
                                  pathTo="M 0 100L 0 60C 21.174999999999997 60 39.325 90 60.5 90C 81.675 90 99.825 40 121 40C 142.175 40 160.325 80 181.5 80C 202.675 80 220.825 60 242 60C 263.175 60 281.325 80 302.5 80C 323.675 80 341.825 20 363 20C 363 20 363 20 363 100M 363 20z"
                                  pathFrom="M -1 200L -1 200L 60.5 200L 121 200L 181.5 200L 242 200L 302.5 200L 363 200"
                                />
                                <path
                                  id="SvgjsPath1472"
                                  d="M 0 60C 21.174999999999997 60 39.325 90 60.5 90C 81.675 90 99.825 40 121 40C 142.175 40 160.325 80 181.5 80C 202.675 80 220.825 60 242 60C 263.175 60 281.325 80 302.5 80C 323.675 80 341.825 20 363 20"
                                  fill="none"
                                  fill-opacity="1"
                                  stroke="#28c76f"
                                  stroke-opacity="1"
                                  stroke-linecap="butt"
                                  stroke-width="2.5"
                                  stroke-dasharray="0"
                                  class="apexcharts-area"
                                  index="0"
                                  clip-path="url(#gridRectMaskvm7rfl4n)"
                                  pathTo="M 0 60C 21.174999999999997 60 39.325 90 60.5 90C 81.675 90 99.825 40 121 40C 142.175 40 160.325 80 181.5 80C 202.675 80 220.825 60 242 60C 263.175 60 281.325 80 302.5 80C 323.675 80 341.825 20 363 20"
                                  pathFrom="M -1 200L -1 200L 60.5 200L 121 200L 181.5 200L 242 200L 302.5 200L 363 200"
                                />
                                <g id="SvgjsG1465" class="apexcharts-series-markers-wrap">
                                  <g class="apexcharts-series-markers">
                                    <circle
                                      id="SvgjsCircle1485"
                                      r="0"
                                      cx="60.5"
                                      cy="90"
                                      class="apexcharts-marker wh0bn1g7d no-pointer-events"
                                      stroke="#ffffff"
                                      fill="#28c76f"
                                      fill-opacity="1"
                                      stroke-width="2"
                                      stroke-opacity="0.9"
                                      default-marker-size="0"
                                    />
                                  </g>
                                </g>
                                <g id="SvgjsG1466" class="apexcharts-datalabels" />
                              </g>
                            </g>
                            <line
                              id="SvgjsLine1480"
                              x1="0"
                              y1="0"
                              x2="363"
                              y2="0"
                              stroke="#b6b6b6"
                              stroke-dasharray="0"
                              stroke-width="1"
                              class="apexcharts-ycrosshairs"
                            />
                            <line
                              id="SvgjsLine1481"
                              x1="0"
                              y1="0"
                              x2="363"
                              y2="0"
                              stroke-dasharray="0"
                              stroke-width="0"
                              class="apexcharts-ycrosshairs-hidden"
                            />
                            <g id="SvgjsG1482" class="apexcharts-yaxis-annotations" />
                            <g id="SvgjsG1483" class="apexcharts-xaxis-annotations" />
                            <g id="SvgjsG1484" class="apexcharts-point-annotations" />
                          </g>
                          <rect
                            id="SvgjsRect1458"
                            width="0"
                            height="0"
                            x="0"
                            y="0"
                            rx="0"
                            ry="0"
                            fill="#fefefe"
                            opacity="1"
                            stroke-width="0"
                            stroke="none"
                            stroke-dasharray="0"
                          />
                          <g
                            id="SvgjsG1475"
                            class="apexcharts-yaxis"
                            rel="0"
                            transform="translate(-21, 0)"
                          >
                            <g id="SvgjsG1476" class="apexcharts-yaxis-texts-g" />
                          </g>
                        </svg>
                        <div class="apexcharts-legend"></div>
                        <div class="apexcharts-tooltip light" style="left: 71px; top: 66px;">
                          <div
                            class="apexcharts-tooltip-series-group active"
                            style="display: flex;"
                          >
                            <span
                              class="apexcharts-tooltip-marker"
                              style="background-color: rgb(40, 199, 111);"
                            ></span>
                            <div
                              class="apexcharts-tooltip-text"
                              style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"
                            >
                              <div class="apexcharts-tooltip-y-group"></div>
                              <div class="apexcharts-tooltip-z-group">
                                <span class="apexcharts-tooltip-text-z-label"></span>
                                <span class="apexcharts-tooltip-text-z-value"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="resize-triggers">
                      <div class="expand-trigger">
                        <div style="width: 364px; height: 101px;"></div>
                      </div>
                      <div class="contract-trigger"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-header d-flex flex-column align-items-start pb-0">
                    <div class="avatar bg-rgba-danger p-50 m-0">
                      <div class="avatar-content">
                        <i class="feather icon-shopping-cart text-danger font-medium-5"></i>
                      </div>
                    </div>
                    <h2 class="text-bold-700 mt-1">{{this.userPerfect}}</h2>
                    <p class="mb-0">Nhân viên bán hàng xuất sắc trong tuần</p>
                  </div>
                  <div class="card-content" style="position: relative;">
                    <div id="line-area-chart-3" style="min-height: 100px;">
                      <div
                        id="apexchartstn0dwq9h"
                        class="apexcharts-canvas apexchartstn0dwq9h light"
                        style="width: 363px; height: 100px;"
                      >
                        <svg
                          id="SvgjsSvg1489"
                          width="363"
                          height="100"
                          xmlns="http://www.w3.org/2000/svg"
                          version="1.1"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:svgjs="http://svgjs.com/svgjs"
                          class="apexcharts-svg"
                          xmlns:data="ApexChartsNS"
                          transform="translate(0, 0)"
                          style="background: transparent;"
                        >
                          <g
                            id="SvgjsG1491"
                            class="apexcharts-inner apexcharts-graphical"
                            transform="translate(0, 0)"
                          >
                            <defs id="SvgjsDefs1490">
                              <clipPath id="gridRectMasktn0dwq9h">
                                <rect
                                  id="SvgjsRect1495"
                                  width="365.5"
                                  height="102.5"
                                  x="-1.25"
                                  y="-1.25"
                                  rx="0"
                                  ry="0"
                                  fill="#ffffff"
                                  opacity="1"
                                  stroke-width="0"
                                  stroke="none"
                                  stroke-dasharray="0"
                                />
                              </clipPath>
                              <clipPath id="gridRectMarkerMasktn0dwq9h">
                                <rect
                                  id="SvgjsRect1496"
                                  width="365"
                                  height="102"
                                  x="-1"
                                  y="-1"
                                  rx="0"
                                  ry="0"
                                  fill="#ffffff"
                                  opacity="1"
                                  stroke-width="0"
                                  stroke="none"
                                  stroke-dasharray="0"
                                />
                              </clipPath>
                              <linearGradient
                                id="SvgjsLinearGradient1502"
                                x1="0"
                                y1="0"
                                x2="0"
                                y2="1"
                              >
                                <stop
                                  id="SvgjsStop1503"
                                  stop-opacity="0.7"
                                  stop-color="rgba(234,84,85,0.7)"
                                  offset="0"
                                />
                                <stop
                                  id="SvgjsStop1504"
                                  stop-opacity="0.5"
                                  stop-color="rgba(253,238,238,0.5)"
                                  offset="0.8"
                                />
                                <stop
                                  id="SvgjsStop1505"
                                  stop-opacity="0.5"
                                  stop-color="rgba(253,238,238,0.5)"
                                  offset="1"
                                />
                              </linearGradient>
                            </defs>
                            <line
                              id="SvgjsLine1494"
                              x1="217.29999999999998"
                              y1="0"
                              x2="217.29999999999998"
                              y2="100"
                              stroke="#b6b6b6"
                              stroke-dasharray="3"
                              class="apexcharts-xcrosshairs"
                              x="217.29999999999998"
                              y="0"
                              width="1"
                              height="100"
                              fill="#b1b9c4"
                              filter="none"
                              fill-opacity="0.9"
                              stroke-width="1"
                            />
                            <g
                              id="SvgjsG1508"
                              class="apexcharts-xaxis"
                              transform="translate(0, 0)"
                            >
                              <g
                                id="SvgjsG1509"
                                class="apexcharts-xaxis-texts-g"
                                transform="translate(0, -4)"
                              />
                            </g>
                            <g id="SvgjsG1512" class="apexcharts-grid">
                              <line
                                id="SvgjsLine1514"
                                x1="0"
                                y1="100"
                                x2="363"
                                y2="100"
                                stroke="transparent"
                                stroke-dasharray="0"
                              />
                              <line
                                id="SvgjsLine1513"
                                x1="0"
                                y1="1"
                                x2="0"
                                y2="100"
                                stroke="transparent"
                                stroke-dasharray="0"
                              />
                            </g>
                            <g
                              id="SvgjsG1498"
                              class="apexcharts-area-series apexcharts-plot-series"
                            >
                              <g
                                id="SvgjsG1499"
                                class="apexcharts-series"
                                seriesName="Sales"
                                data-:longest-series="true"
                                rel="1"
                                data-:real-index="0"
                              >
                                <path
                                  id="SvgjsPath1506"
                                  d="M 0 100L 0 53.33333333333333C 25.409999999999997 53.33333333333333 47.19 20 72.6 20C 98.00999999999999 20 119.78999999999999 73.33333333333333 145.2 73.33333333333333C 170.60999999999999 73.33333333333333 192.39 40 217.79999999999998 40C 243.20999999999998 40 264.99 100 290.4 100C 315.81 100 337.59 13.333333333333329 363 13.333333333333329C 363 13.333333333333329 363 13.333333333333329 363 100M 363 13.333333333333329z"
                                  fill="url(#SvgjsLinearGradient1502)"
                                  fill-opacity="1"
                                  stroke-opacity="1"
                                  stroke-linecap="butt"
                                  stroke-width="0"
                                  stroke-dasharray="0"
                                  class="apexcharts-area"
                                  index="0"
                                  clip-path="url(#gridRectMasktn0dwq9h)"
                                  pathTo="M 0 100L 0 53.33333333333333C 25.409999999999997 53.33333333333333 47.19 20 72.6 20C 98.00999999999999 20 119.78999999999999 73.33333333333333 145.2 73.33333333333333C 170.60999999999999 73.33333333333333 192.39 40 217.79999999999998 40C 243.20999999999998 40 264.99 100 290.4 100C 315.81 100 337.59 13.333333333333329 363 13.333333333333329C 363 13.333333333333329 363 13.333333333333329 363 100M 363 13.333333333333329z"
                                  pathFrom="M -1 120L -1 120L 72.6 120L 145.2 120L 217.79999999999998 120L 290.4 120L 363 120"
                                />
                                <path
                                  id="SvgjsPath1507"
                                  d="M 0 53.33333333333333C 25.409999999999997 53.33333333333333 47.19 20 72.6 20C 98.00999999999999 20 119.78999999999999 73.33333333333333 145.2 73.33333333333333C 170.60999999999999 73.33333333333333 192.39 40 217.79999999999998 40C 243.20999999999998 40 264.99 100 290.4 100C 315.81 100 337.59 13.333333333333329 363 13.333333333333329"
                                  fill="none"
                                  fill-opacity="1"
                                  stroke="#ea5455"
                                  stroke-opacity="1"
                                  stroke-linecap="butt"
                                  stroke-width="2.5"
                                  stroke-dasharray="0"
                                  class="apexcharts-area"
                                  index="0"
                                  clip-path="url(#gridRectMasktn0dwq9h)"
                                  pathTo="M 0 53.33333333333333C 25.409999999999997 53.33333333333333 47.19 20 72.6 20C 98.00999999999999 20 119.78999999999999 73.33333333333333 145.2 73.33333333333333C 170.60999999999999 73.33333333333333 192.39 40 217.79999999999998 40C 243.20999999999998 40 264.99 100 290.4 100C 315.81 100 337.59 13.333333333333329 363 13.333333333333329"
                                  pathFrom="M -1 120L -1 120L 72.6 120L 145.2 120L 217.79999999999998 120L 290.4 120L 363 120"
                                />
                                <g id="SvgjsG1500" class="apexcharts-series-markers-wrap">
                                  <g class="apexcharts-series-markers">
                                    <circle
                                      id="SvgjsCircle1520"
                                      r="0"
                                      cx="217.79999999999998"
                                      cy="40"
                                      class="apexcharts-marker w51uh1nyg no-pointer-events"
                                      stroke="#ffffff"
                                      fill="#ea5455"
                                      fill-opacity="1"
                                      stroke-width="2"
                                      stroke-opacity="0.9"
                                      default-marker-size="0"
                                    />
                                  </g>
                                </g>
                                <g id="SvgjsG1501" class="apexcharts-datalabels" />
                              </g>
                            </g>
                            <line
                              id="SvgjsLine1515"
                              x1="0"
                              y1="0"
                              x2="363"
                              y2="0"
                              stroke="#b6b6b6"
                              stroke-dasharray="0"
                              stroke-width="1"
                              class="apexcharts-ycrosshairs"
                            />
                            <line
                              id="SvgjsLine1516"
                              x1="0"
                              y1="0"
                              x2="363"
                              y2="0"
                              stroke-dasharray="0"
                              stroke-width="0"
                              class="apexcharts-ycrosshairs-hidden"
                            />
                            <g id="SvgjsG1517" class="apexcharts-yaxis-annotations" />
                            <g id="SvgjsG1518" class="apexcharts-xaxis-annotations" />
                            <g id="SvgjsG1519" class="apexcharts-point-annotations" />
                          </g>
                          <rect
                            id="SvgjsRect1493"
                            width="0"
                            height="0"
                            x="0"
                            y="0"
                            rx="0"
                            ry="0"
                            fill="#fefefe"
                            opacity="1"
                            stroke-width="0"
                            stroke="none"
                            stroke-dasharray="0"
                          />
                          <g
                            id="SvgjsG1510"
                            class="apexcharts-yaxis"
                            rel="0"
                            transform="translate(-21, 0)"
                          >
                            <g id="SvgjsG1511" class="apexcharts-yaxis-texts-g" />
                          </g>
                        </svg>
                        <div class="apexcharts-legend"></div>
                        <div class="apexcharts-tooltip light" style="left: 106.516px; top: 43px;">
                          <div
                            class="apexcharts-tooltip-series-group active"
                            style="display: flex;"
                          >
                            <span
                              class="apexcharts-tooltip-marker"
                              style="background-color: rgb(234, 84, 85);"
                            ></span>
                            <div
                              class="apexcharts-tooltip-text"
                              style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"
                            >
                              <div class="apexcharts-tooltip-y-group"></div>
                              <div class="apexcharts-tooltip-z-group">
                                <span class="apexcharts-tooltip-text-z-label"></span>
                                <span class="apexcharts-tooltip-text-z-value"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="resize-triggers">
                      <div class="expand-trigger">
                        <div style="width: 364px; height: 101px;"></div>
                      </div>
                      <div class="contract-trigger"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-header d-flex flex-column align-items-start pb-0">
                    <div class="avatar bg-rgba-warning p-50 m-0">
                      <div class="avatar-content">
                        <i class="feather icon-package text-warning font-medium-5"></i>
                      </div>
                    </div>
                    <h2 class="text-bold-700 mt-1">{{this.countSuppliers}}</h2>
                    <p class="mb-0">Nhà cung cấp</p>
                  </div>
                  <div class="card-content" style="position: relative;">
                    <div id="line-area-chart-4" style="min-height: 100px;">
                      <div
                        id="apexchartsw7ebgfdw"
                        class="apexcharts-canvas apexchartsw7ebgfdw light"
                        style="width: 363px; height: 100px;"
                      >
                        <svg
                          id="SvgjsSvg1524"
                          width="363"
                          height="100"
                          xmlns="http://www.w3.org/2000/svg"
                          version="1.1"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:svgjs="http://svgjs.com/svgjs"
                          class="apexcharts-svg"
                          xmlns:data="ApexChartsNS"
                          transform="translate(0, 0)"
                          style="background: transparent;"
                        >
                          <g
                            id="SvgjsG1526"
                            class="apexcharts-inner apexcharts-graphical"
                            transform="translate(0, 0)"
                          >
                            <defs id="SvgjsDefs1525">
                              <clipPath id="gridRectMaskw7ebgfdw">
                                <rect
                                  id="SvgjsRect1530"
                                  width="365.5"
                                  height="102.5"
                                  x="-1.25"
                                  y="-1.25"
                                  rx="0"
                                  ry="0"
                                  fill="#ffffff"
                                  opacity="1"
                                  stroke-width="0"
                                  stroke="none"
                                  stroke-dasharray="0"
                                />
                              </clipPath>
                              <clipPath id="gridRectMarkerMaskw7ebgfdw">
                                <rect
                                  id="SvgjsRect1531"
                                  width="365"
                                  height="102"
                                  x="-1"
                                  y="-1"
                                  rx="0"
                                  ry="0"
                                  fill="#ffffff"
                                  opacity="1"
                                  stroke-width="0"
                                  stroke="none"
                                  stroke-dasharray="0"
                                />
                              </clipPath>
                              <linearGradient
                                id="SvgjsLinearGradient1537"
                                x1="0"
                                y1="0"
                                x2="0"
                                y2="1"
                              >
                                <stop
                                  id="SvgjsStop1538"
                                  stop-opacity="0.7"
                                  stop-color="rgba(255,159,67,0.7)"
                                  offset="0"
                                />
                                <stop
                                  id="SvgjsStop1539"
                                  stop-opacity="0.5"
                                  stop-color="rgba(255,245,236,0.5)"
                                  offset="0.8"
                                />
                                <stop
                                  id="SvgjsStop1540"
                                  stop-opacity="0.5"
                                  stop-color="rgba(255,245,236,0.5)"
                                  offset="1"
                                />
                              </linearGradient>
                            </defs>
                            <line
                              id="SvgjsLine1529"
                              x1="362.5"
                              y1="0"
                              x2="362.5"
                              y2="100"
                              stroke="#b6b6b6"
                              stroke-dasharray="3"
                              class="apexcharts-xcrosshairs"
                              x="362.5"
                              y="0"
                              width="1"
                              height="100"
                              fill="#b1b9c4"
                              filter="none"
                              fill-opacity="0.9"
                              stroke-width="1"
                            />
                            <g
                              id="SvgjsG1543"
                              class="apexcharts-xaxis"
                              transform="translate(0, 0)"
                            >
                              <g
                                id="SvgjsG1544"
                                class="apexcharts-xaxis-texts-g"
                                transform="translate(0, -4)"
                              />
                            </g>
                            <g id="SvgjsG1547" class="apexcharts-grid">
                              <line
                                id="SvgjsLine1549"
                                x1="0"
                                y1="100"
                                x2="363"
                                y2="100"
                                stroke="transparent"
                                stroke-dasharray="0"
                              />
                              <line
                                id="SvgjsLine1548"
                                x1="0"
                                y1="1"
                                x2="0"
                                y2="100"
                                stroke="transparent"
                                stroke-dasharray="0"
                              />
                            </g>
                            <g
                              id="SvgjsG1533"
                              class="apexcharts-area-series apexcharts-plot-series"
                            >
                              <g
                                id="SvgjsG1534"
                                class="apexcharts-series"
                                seriesName="Orders"
                                data-:longest-series="true"
                                rel="1"
                                data-:real-index="0"
                              >
                                <path
                                  id="SvgjsPath1541"
                                  d="M 0 100L 0 60C 21.174999999999997 60 39.325 10 60.5 10C 81.675 10 99.825 80 121 80C 142.175 80 160.325 10 181.5 10C 202.675 10 220.825 90 242 90C 263.175 90 281.325 40 302.5 40C 323.675 40 341.825 80 363 80C 363 80 363 80 363 100M 363 80z"
                                  fill="url(#SvgjsLinearGradient1537)"
                                  fill-opacity="1"
                                  stroke-opacity="1"
                                  stroke-linecap="butt"
                                  stroke-width="0"
                                  stroke-dasharray="0"
                                  class="apexcharts-area"
                                  index="0"
                                  clip-path="url(#gridRectMaskw7ebgfdw)"
                                  pathTo="M 0 100L 0 60C 21.174999999999997 60 39.325 10 60.5 10C 81.675 10 99.825 80 121 80C 142.175 80 160.325 10 181.5 10C 202.675 10 220.825 90 242 90C 263.175 90 281.325 40 302.5 40C 323.675 40 341.825 80 363 80C 363 80 363 80 363 100M 363 80z"
                                  pathFrom="M -1 160L -1 160L 60.5 160L 121 160L 181.5 160L 242 160L 302.5 160L 363 160"
                                />
                                <path
                                  id="SvgjsPath1542"
                                  d="M 0 60C 21.174999999999997 60 39.325 10 60.5 10C 81.675 10 99.825 80 121 80C 142.175 80 160.325 10 181.5 10C 202.675 10 220.825 90 242 90C 263.175 90 281.325 40 302.5 40C 323.675 40 341.825 80 363 80"
                                  fill="none"
                                  fill-opacity="1"
                                  stroke="#ff9f43"
                                  stroke-opacity="1"
                                  stroke-linecap="butt"
                                  stroke-width="2.5"
                                  stroke-dasharray="0"
                                  class="apexcharts-area"
                                  index="0"
                                  clip-path="url(#gridRectMaskw7ebgfdw)"
                                  pathTo="M 0 60C 21.174999999999997 60 39.325 10 60.5 10C 81.675 10 99.825 80 121 80C 142.175 80 160.325 10 181.5 10C 202.675 10 220.825 90 242 90C 263.175 90 281.325 40 302.5 40C 323.675 40 341.825 80 363 80"
                                  pathFrom="M -1 160L -1 160L 60.5 160L 121 160L 181.5 160L 242 160L 302.5 160L 363 160"
                                />
                                <g id="SvgjsG1535" class="apexcharts-series-markers-wrap">
                                  <g class="apexcharts-series-markers">
                                    <circle
                                      id="SvgjsCircle1555"
                                      r="0"
                                      cx="363"
                                      cy="80"
                                      class="apexcharts-marker wgzft0lh7 no-pointer-events"
                                      stroke="#ffffff"
                                      fill="#ff9f43"
                                      fill-opacity="1"
                                      stroke-width="2"
                                      stroke-opacity="0.9"
                                      default-marker-size="0"
                                    />
                                  </g>
                                </g>
                                <g id="SvgjsG1536" class="apexcharts-datalabels" />
                              </g>
                            </g>
                            <line
                              id="SvgjsLine1550"
                              x1="0"
                              y1="0"
                              x2="363"
                              y2="0"
                              stroke="#b6b6b6"
                              stroke-dasharray="0"
                              stroke-width="1"
                              class="apexcharts-ycrosshairs"
                            />
                            <line
                              id="SvgjsLine1551"
                              x1="0"
                              y1="0"
                              x2="363"
                              y2="0"
                              stroke-dasharray="0"
                              stroke-width="0"
                              class="apexcharts-ycrosshairs-hidden"
                            />
                            <g id="SvgjsG1552" class="apexcharts-yaxis-annotations" />
                            <g id="SvgjsG1553" class="apexcharts-xaxis-annotations" />
                            <g id="SvgjsG1554" class="apexcharts-point-annotations" />
                          </g>
                          <rect
                            id="SvgjsRect1528"
                            width="0"
                            height="0"
                            x="0"
                            y="0"
                            rx="0"
                            ry="0"
                            fill="#fefefe"
                            opacity="1"
                            stroke-width="0"
                            stroke="none"
                            stroke-dasharray="0"
                          />
                          <g
                            id="SvgjsG1545"
                            class="apexcharts-yaxis"
                            rel="0"
                            transform="translate(-21, 0)"
                          >
                            <g id="SvgjsG1546" class="apexcharts-yaxis-texts-g" />
                          </g>
                        </svg>
                        <div class="apexcharts-legend"></div>
                        <div class="apexcharts-tooltip light" style="left: 252.531px; top: 66px;">
                          <div
                            class="apexcharts-tooltip-series-group active"
                            style="display: flex;"
                          >
                            <span
                              class="apexcharts-tooltip-marker"
                              style="background-color: rgb(255, 159, 67);"
                            ></span>
                            <div
                              class="apexcharts-tooltip-text"
                              style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"
                            >
                              <div class="apexcharts-tooltip-y-group"></div>
                              <div class="apexcharts-tooltip-z-group">
                                <span class="apexcharts-tooltip-text-z-label"></span>
                                <span class="apexcharts-tooltip-text-z-value"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="resize-triggers">
                      <div class="expand-trigger">
                        <div style="width: 364px; height: 101px;"></div>
                      </div>
                      <div class="contract-trigger"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!--     part 3         -->
              <div clasuserPerfects="row">
                  <div class="col-lg-12 col-12">
                      <div class="card">
                          <div class="card-header">
                              <h4 class="card-title">Khách hàng tiềm năng</h4>
                          </div>
                          <div class="card-content">
                              <div class="card-body">
                                  <ul class="activity-timeline timeline-left list-unstyled" v-for="cus in topCustomer">
                                      <li>
                                          <div class="timeline-icon bg-primary">
                                              <i class="feather icon-plus font-medium-2 align-middle"></i>
                                          </div>
                                          <div class="timeline-info">
                                              <p class="font-weight-bold mb-0">Tên khách hàng: {{cus.or_cus_name}}</p>
                                              <span class="font-small-3">Số điện thoại: {{cus.or_cus_phone}}</span>
                                          </div>
                                          <small class="text-muted">Tổng tiền: {{cus.countMoneys}} VND</small>
                                      </li>

                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Dashboard Analytics end -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted() {
    $(".app-content .content-body").LoadingOverlay("show");
    $(".app-content .content-body").LoadingOverlay("hide");
  }
};
</script>
<script src="./dashboard.js"></script>
