<template>
    <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Hóa đơn</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- invoice functionality start -->
            <section class="invoice-print mb-1">
                <div class="row">
                    <fieldset class="col-12 col-md-5 mb-1 mb-md-0">
                        <div class="input-group">
                            <button class="btn btn-outline-primary" type="button" @click="sendMail()">Gửi mail xác nhận</button>
                        </div>
                    </fieldset>
                    <div class="col-12 col-md-7 d-flex flex-column flex-md-row justify-content-end">
                        <button
                            v-if="bill.or_status_id === 0"
                            class="btn btn-success mr-2"
                            type="button"
                            @click="updateStatusBill(bill.or_id, 1)">Duyệt đơn hàng</button>
                        <button class="btn btn-primary btn-print mb-1 mb-md-0 mr-2" @click="printBill()">
                            <i class="feather icon-file-text"></i> In hóa đơn
                        </button>
                        <a :href="'/bill/download?id=' + bill.or_id" class="btn btn-primary">
                            <i class="feather icon-file-text"></i> Download
                        </a>
                    </div>
                </div>
            </section>
            <!-- invoice functionality end -->
            <!-- invoice page -->
            <section class="card invoice-page">
                <div id="invoice-template" class="card-body">
                    <!-- Invoice Company Details -->
                    <div id="invoice-company-details" class="row">
                        <div class="col-sm-6 col-12 text-left">
                        </div>
                        <div class="col-sm-6 col-12 text-right">
                            <h1>Hóa đơn</h1>
                            <div class="invoice-details">
                                <h6>Mã hóa đơn: {{ bill.or_id }}</h6>
                                <h6>Ngày tạo: {{ bill.created_at }}</h6>
                            </div>
                        </div>
                    </div>
                    <!--/ Invoice Company Details -->

                    <!-- Invoice Recipient Details -->
                    <div id="invoice-customer-details" class="row">
                        <div class="col-sm-6 col-12 text-left">
                            <h5>Người nhận</h5>
                            <div class="recipient-info">
                                <p>{{bill.or_cus_name}}</p>
                                <p>{{bill.or_cus_address}}</p>
                                <p>{{bill.or_shipped_date}}</p>
                                <p>{{bill.or_notes}}</p>
                            </div>
                            <div class="recipient-contact pb-2">
                                <p>
                                    <i class="feather icon-mail"></i>
                                    {{bill.or_cus_email}}
                                </p>
                                <p>
                                    <i class="feather icon-phone"></i>
                                    {{bill.or_cus_phone}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/ Invoice Recipient Details -->

                    <!-- Invoice Items Details -->
                    <div id="invoice-items-details" class="pt-1 invoice-items-table">
                        <div class="row">
                            <div class="table-responsive table-hover col-12">
                                <table class="table table-striped ">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                            <th>Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(bill, index) in billDetail">
                                            <td>{{ ++index }}</td>
                                            <td>{{ bill.pro_code }}</td>
                                            <td>{{ bill.pro_name }}</td>
                                            <td>{{ bill.odetail_quantity }}</td>
                                            <td>{{ bill.odetail_unit_price | formatPrice }} đ</td>
                                            <td>{{ bill.odetail_total_money | formatPrice }} đ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="invoice-total-details" class="invoice-total-table">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>Tổng tiền: {{ total | formatPrice }} đ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Invoice Footer -->
                    <div id="invoice-footer" class="text-right pt-3">
                        <p>Chuyển số tiền vào số tài khoản dưới đây. Vui lòng bao gồm số hóa đơn trên hóa đơn của bạn.
                        <p class="bank-details mb-0">
                            <span class="mr-4">BANK: <strong>Techcombank</strong></span>
                            <span>IBAN: <strong>G882-1111-2222-3333</strong></span>
                        </p>
                    </div>
                    <!--/ Invoice Footer -->

                </div>
            </section>
            <!-- invoice page end -->
        </div>
    </div>
</div>
</template>

<script src="./bill-detail.js">
</script>

